#container-drive{
	margin-top: 132px;
    overflow: hidden;
	margin-bottom: 38px;
}

#container-drive .container-info{
	margin-top: 110px;
}

#container-drive input{
	border: 1px solid #a7a6a7;
}

#container-drive .container-img-drive, #container-drive .container-drive{
	width: 216px;
	height: 144px;
	text-align: center;
	display: inline-block;
}

#container-drive .container-drive div{
    background: #3a383b;
    padding: 12px;
}

#container-drive .container-drive div:hover{
	cursor: pointer;
	color: #E35021 !important;
	font-weight: bold;
	text-decoration: none;
}

#container-drive .container-text-img{
    color: #FFFFFF;
}

#container-drive .container-text-img:hover{
	text-decoration: none;
	color: #E35021 !important;
	font-weight: bold;
}

#container-drive .container-drive #img-vehicle{
	background-image: url('./../../assets/img/tengoUnVehiculo.png');
	background-size: 100% 100%;
	cursor: pointer;
}

#container-drive .container-drive #img-vehicles{
	background-image: url('./../../assets/img/tengoUnaFlotaDeVehiculos.png');
	background-size: 100% 100%;
	cursor: pointer;
}

#container-drive .container-drive #img-drive{
	background-image: url('./../../assets/img/soyConductor.png');
	background-size: 100% 100%;
	cursor: pointer;
}

#container-drive .container-drive #img-vehicle:hover{
	cursor: pointer;
	background-image: url('./../../assets/img/tengoUnVehiculoSelected.png');
}

#container-drive .container-drive #img-vehicle:active{
	cursor: pointer;
	background-image: url('./../../assets/img/tengoUnVehiculoSelected.png');
}

#container-drive .container-drive #img-vehicles:hover{
	cursor: pointer;
	background-image: url('./../../assets/img/tengoUnaFlotaDeVehiculosSelected.png');
}

#container-drive .container-drive #img-drive:hover{
	cursor: pointer;
	background-image: url('./../../assets/img/soyConductorSelected.png');
}

#container-drive .container-img-drive img{
	width: 100%;
	height: 100%;
}

#container-drive .container-imgs-driver{
	margin-bottom: 50px;
}

.btn-contact{
	background-image: url('./../../assets/img/botonContactanos.png')!important;
	background-color: #e04b31;
	background-repeat: no-repeat;
	background-color: transparent !important;
	background-size: 100% 100%;
	width : 140px;
	color: #FFFFFF;
	margin-top: 35px;
}

.container-text-img{
	margin-top: -6px;
}

#container-drive .container-banner{
	height: 366px;
	width: 100%;
	background-image: url('./../../assets/img/background.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

#container-drive .container-banner #container-img-phone{
    width: 165px;
    display: inline-block;
}

#container-drive .container-banner #container-img-phone img{
    width: 100%;
}

#container-drive .container-info{

}

#container-drive #container-img{
    width: 65px;
    display: inline-block;
    margin-bottom: 28px;
    height: 76px;
}

#container-drive #container-img img{
	width: 100%
}

.padding-border{
    padding-left: 32px;
	padding-right: 33px;
}

#container-drive .container-info hr{
	background: #e45d2f;
	height: 1px;
}

.margin-top-100{
	margin-top: 100px;
}
