<div id="container-drive" >
	<div *ngIf="viewInfo" style="overflow: hidden;">
		<div class="container-banner ">
			<div class="container container-middle">
				<div class="col-sm-8 content-middle-right">
					<span class="text-3em"  style="color:white;">¿Qué es Beep?</span>
					<br/>
					<hr>
					<p class="text-1-5em" style="color:white;">
						Beep es una aplicación web y móvil que conecta a pasajeros que necesiten viajar con conductores que ofrecen el servicio de transporte especial.
					</p>
				</div>
				<div class="col-sm-4 text-center">
					<figure id="container-img-phone">
						<img src="./assets/img/app.png" alt="" id="img-phone">
					</figure>
				</div>
			</div>
		</div>
		<div class="container container-info">
			<div class="col-sm-12">
				<div class="">
					<div class="col-sm-4">
						<div class="row text-center">
							<figure id="container-img">
								<img src="./assets/img/legalidad.png" alt="">
							</figure>
							<p class="text-1-25em text-orange font-bold">
								LEGALIDAD
							</p>
						</div>
						
						<div class="padding-border">
							<hr>
							Beep únicamente registra a conductores que cumplen con la normativa expedida por el Ministerio de Transporte, por tanto sus pasajeros siempre estarán tranquilos de que el servicio de transporte que les es prestado es totalmente legal. 
						</div>
					</div>
					<div class="col-sm-4">
						<div class="row text-center">
							<figure id="container-img">
								<img src="./assets/img/ingresosAdicionales.png" alt="">
							</figure>
							<p class="text-1-25em text-orange font-bold">
								INGRESOS ADICIONALES
							</p>
						</div>
						
						<div class="padding-border">
							<hr>
							Beep es una solución integral que pretende no solo resolver los aspectos de legalidad y seguridad asociados al servicio de transporte sino que además busca mejorar la calidad de vida de los conductores ofreciendo opciones de ingreso adicionales.
						</div>
					</div>
					<div class="col-sm-4">
						<div class="row text-center">
							<figure id="container-img">
								<img src="./assets/img/cooperativa.png" alt="">
							</figure>
							<p class="text-1-25em text-orange font-bold">
								COOPERATIVA
							</p>
						</div>
						
						<div class="padding-border">
							<hr>
							Usted podrá afiliarse a Beep siguiendo siendo un transportista independiente o afiliandose a la cooperativa de transporte “xxx” la cual tiene convenio exclusivo con Beep.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 text-center">
			<a href="#viewForm">
				<button type="button" class="btn btn-contact margin-top-100" (click)="nextView('form');">
					Registrarse
				</button>
			</a>
		</div>
	</div>
	
	<div *ngIf="viewForm" class="container" id="viewForm">
		<form #formContact="ngForm">
			<div class="col-sm-12 container-info text-center">
				<p class="text-1-8em">¿Cómo quisiera unirse?</p>
				<p>
					Seleccione la opción como quiere unirse a nuestra compañía
					<br>
					y diligencie el formulario
				</p>
			</div>
			<div class="col-sm-12 container-imgs-driver text-center">
				<input type="hidden" name="type"
				id="type"
				required
				[(ngModel)]="dataContact.type"
				ngControl="type">
				<div class="container-drive" id="btnVehicle " (click)="changeType('Tengo un vehículo')">
					<figure class="container-img-drive" id="img-vehicle">
					</figure>
					<div class="container-text-img">
						Tengo un vehículo
					</div>
				</div>
				<div class="container-drive" id="btnVehicles" (click)="changeType('Tengo una flota de vehículos')">
					<figure class="container-img-drive" id="img-vehicles">
					</figure>
					<div class="container-text-img">
						Tengo una flota de vehículos
					</div>
				</div>
				<div class="container-drive" id="btnDrive" (click)="changeType('Soy conductor')">
					<figure class="container-img-drive" id="img-drive">
					</figure>
					<div class="container-text-img">
						Soy conductor
					</div>
				</div>
			</div>
			<div class="col-sm-12" style="margin-bottom: 20px;">
				<div style="display: none" id="status1" class="text-center text-danger">¡Campo requerido!</div>
			</div>
			
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<p class="text-1-25em">Formulario de contacto</p>
				<br>
				<div class="form-group" style="overflow: hidden;">
					<div class="col-sm-6">
						<input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required [(ngModel)]="dataContact.name" ngControl="name" (keyup)="changeValidateInput('name', formContact)">
						<div style="display: none" id="status2" class="text-danger">¡Campo requerido!</div>
					</div>
					<div class="col-sm-6">
						<input type="text" name="lastname" id="lastname" class="form-control" placeholder="Apellido" required [(ngModel)]="dataContact.lastname" ngControl="lastname"  (keyup)="changeValidateInput('lastname', formContact)">
						<div style="display: none" id="status3" class="text-danger">¡Campo requerido!</div>
					</div>
				</div>
				<div class="form-group" style="overflow: hidden;">
					<div class="col-sm-6">
						<input type="text" name="phone" id="phone" class="form-control" placeholder="Teléfono" required [(ngModel)]="dataContact.phone" ngControl="phone" (keyup)="changeValidateInput('phone', formContact)">
						<div style="display: none" id="status4" class="text-danger">¡Campo requerido!</div>
					</div>
					<div class="col-sm-6">
						<input type="text" name="address" id="address" class="form-control" placeholder="Dirección" required [(ngModel)]="dataContact.address" ngControl="address" (keyup)="changeValidateInput('address', formContact)">
						<div style="display: none" id="status5" class="text-danger">¡Campo requerido!</div>
					</div>
				</div>
				<div class="form-group" style="overflow: hidden;">
					<div class="col-sm-6">
						<input type="text" name="email" id="email" class="form-control" placeholder="Correo electrónico" required [(ngModel)]="dataContact.email" ngControl="email" (keyup)="changeValidateInput('email', formContact)">
						<div style="display: none" id="status6" class="text-danger">¡Campo requerido!</div>
					</div>
					<div class="col-sm-6">
						<select class="form-control" name="reason" id="reason" required [(ngModel)]="dataContact.reason" ngControl="reason" (mouseup)="changeValidateInput('reason', formContact)">
							<option value="">¿Cómo se enteró?</option>
							<option value="Redes Sociales">Redes Sociales</option>
							<option value="Medio de comunicación">Medio de comunicación</option>
							<option value="Un amigo">Un amigo</option>
							<option value="Otro">Otro</option>
						</select>
						<div style="display: none" id="status7" class="text-danger">¡Campo requerido!</div>
					</div>
				</div>
				<div class="text-center" style="font-weight:bold;">
					{{responseMessage}}
				</div>
				<div class="form-group text-center">
					<button type="button" (click)="submitEmailContacto(formContact)" class="btn btn-contact" [disabled]="loadingProcess">
						<i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
						<span *ngIf="!loadingProcess">Aplicar ahora</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>