#container-vehicles{
		margin-top: 132px;
		padding-top: 50px;
		padding-bottom: 50px;
		background-image: url('./../../assets/img/flotas.png');
	    background-repeat: no-repeat;
	    background-size: 78% 91%;
	}

	#container-vehicles .container-info{
		width: 100%;
		text-align: right;
		font-weight: bold;
	}

	#container-vehicles .container-info .container-info-vehicles{
		margin-bottom: 40px;
	}

	#container-vehicles .container-info .container-info-vehicles:last-child{
		margin-bottom: 0px;
	}
