<div id="container-vehicles" class="container">
	<div class="col-sm-12">
		<div class="container-info row">
			<div class="container-info-vehicles">
				<p class="text-1-5em text-orange">Station Wagon</p>
				<p>
					<span>4x4</span>
					<br>
					<span>4x2</span>
				</p>
			</div>
			<div class="container-info-vehicles">
				<p class="text-1-5em text-orange">Pickups</p>
				<p>
					<span>4x4</span>
					<br>
					<span>4x2</span>
				</p>
			</div>
			<div class="container-info-vehicles">
				<p class="text-1-5em text-orange">Vans y Buses</p>
				<p>
					<span>11 pasajeros</span>
					<br>
					<span>18 pasajeros</span>
					<br>
					<span>22 pasajeros</span>
				</p>
			</div>
			<div class="container-info-vehicles">
				<p class="text-1-5em text-orange">Carga</p>
				<p>
					<span>Pequeña</span>
					<br>
					<span>Mediana</span>
					<br>
					<span>Grande</span>
				</p>
			</div>

		</div>
	</div>
</div>