<div id="container-faq">
	<div class="container">
		
		<div class="col-sm-10 row">
			<p class="container-title">
				<span class="font-gothamRnd-medium">PREGUNTAS FRECUENTES</span>
			</p>
			<p>
				<span class="text-orange text-1-5em font-gothamRnd-book">¿El servicio que voy a prestar es legal?</span>
				<br><br>
				<span class="font-gothamRnd-book text-1-1-em">
					Si. Está supervisado por un departamento altamente calificado y que está actualizándose según las normas del servicio de transporte de pasajeros bajo la modalidad Servicio Especial.
				</span>
			</p>
			<p>
				<span class="text-orange text-1-5em font-gothamRnd-book">¿Porque Beep  y no otras aplicaciones?</span>
				<br><br>
				<span class="font-gothamRnd-book text-1-1-em">
					Porque además de recibir el pago correspondiente a su labor como conductor dentro de la aplicación, tendrá la posibilidad de aumentar sus ingresos con los demás servicios que ofrece Beep dentro del carro. Recuerde que Beep es un centro de experiencia y que usted como conductor es nuestro principal embajador. Por esta razón y pensando en usted, creamos un sistema de beneficios adicionales que podrá conocer cuando nos contacte para recibir más información.
				</span>
			</p>
			<p>
				<span class="text-orange text-1-5em font-gothamRnd-book">¿Qué tipo de teléfono debo tener para esta aplicación?</span>
				<br><br>
				<span class="font-gothamRnd-book text-1-1-em">
					Un smartphone que en caso de que no lo tenga, podrá financiar a través de nosotros con una de nuestras empresas aliadas.
				</span>
			</p>
			<p>
				<span class="text-orange text-1-5em font-gothamRnd-book">¿Tendré apoyo por la aplicación?</span>
				<br><br>
				<span class="font-gothamRnd-book text-1-1-em">
					Si, estaremos las 24 horas del día y los 365 días del año a tu disposición en asuntos de plataforma y servicios.
				</span>
			</p>
			<p>
				<span class="text-orange text-1-5em font-gothamRnd-book">¿Como conductor que debo aportar a Beep?</span>
				<br><br>
				<span class="font-gothamRnd-book text-1-1-em">
					Su trabajo, atención y buen comportamiento con nuestros clientes. Su buen desempeño según las calificaciones de nuestros usuarios representará beneficios adicionales para usted.
				</span>
			</p>
			<p class="font-gothamRnd-book text-1-1-em">
				Si tiene inquietudes adicionales escríbanos a <span class="font-gothamRnd-bold">servicioalcliente@ubeep.co</span>
			</p>
		</div>
	</div>
</div>