<div id="container-press">
	<div class="container">
		<div class="content-img text-center">
			<figure>
				<img class="img-screenshots" src="./assets/img/screenshots.png" alt="¡Beep!">
			</figure>
		</div>
	</div>
	<div class="content-download">
		<div class="container">
			<div class="col-sm-12 col-md-12 container-middle">
				<div class="col-sm-6 text-center content-middle-right">
					<figure>
						<img class="img-beep" src="./assets/img/logo.png" alt="¡Beep!">
					</figure>
				</div>
				<div class="col-sm-6">
					<div class="text-1-3em font-gothamRnd-bold">Descarga nuestro Kit de Prensa</div>
					<p class="text-1-3em font-gothamRnd-book">
						Incluye nuestro logo y manual de
						<br>
						identidad de marca
					</p>
					<a href="{{urlDownloadKit}}"><button type="button" class="btn btn-orange">Descargar</button></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container text-center padding-40">
		<div class="col-sm-12 col-xs-12 text-1-3em font-gothamRnd-bold">Contáctenos para prensa</div>
		<br>
		<span class="text-1-3em font-gothamRnd-book">
			Correo: <span class="text-orange font-gothamRnd-bold">plugg@ubeep.co</span>
		</span>
	</div>
</div>