#container-press{
	margin-top: 132px;
	overflow: hidden;
	margin-bottom: 38px;
}

#container-press .container .content-img{
    padding-top: 80px;
    padding-bottom: 80px;
}

#container-press .container .content-img figure {
	display: inline-block;
}

#container-press .container .content-img figure .img-screenshots{
	width: 100%;
	margin-bottom: 80px;
	margin-top: 80px;
}

#container-press .content-download{
	background-color: #f4f4f4;
}

#container-press .content-download .container{
	padding-left: 77px;
	padding-right: 77px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#container-press .content-download .img-beep{
	width: 160px;
}

#container-press .content-download .btn-orange{
    width: 162px;
}

.padding-40{
	padding-top: 40px;
}
