#container-history {
	margin-top: 132px;
    overflow: hidden;
	margin-bottom: 38px;
	padding-top: 80px;
}

#container-history .container-services{
	overflow-y: scroll;
    direction: rtl;
    height: 712px;
}


.selected{
	background: #3a383b !important;
    color: white !important;
}

#container-history .container-services .content-history{
	min-height: 65px;
	overflow: hidden;
	border: 1px solid ;
	direction: initial !important;
	position: relative;
	cursor: pointer;
}


#container-history .container-services .padding-borders{
	padding-left: 42px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.container-arrow-right{
	position: absolute;
    right: 10px;
    top: 24px;
}

.container-arrow-right .arrow-right{
	height: 11px;
}

#container-history #containerPolyline{
	width: 100%;
    height: 320px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

#container-history #containerPolyline img{
	height: 100%;
}

#containerImgDriver{
	width: 100px;
	height: 100px;
    display: inline-block;
    position: relative;
    /*top: -130px;*/
    /*margin-right: 16px;*/
}

#img-driver{
	width: 100px;
	height: 100px;
	border-radius: 20px;
}

.containerData{
	display: inline-block;
}

.padding-left-75{
	padding-left: 75px;
}

.border-right{
	border-right: 1px solid lightgray;
}

.float-right{
	float: right;
}

.margin-bottom-25{
	margin-bottom: 25px;
}

.margin-bottom-60{
	margin-bottom: 60px;
}

.margin-bottom-40{
	margin-bottom: 40px;
}

.container-circle{
	display: inline-block;
}

.icon-circle-orange{
	height: 10px;
    width: 10px;
    background: #e45a30;
    border-radius: 50%;
}

.icon-circle-black{
	height: 10px;
    width: 10px;
    background: #3a383b;
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #3a383b;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgb(226, 73, 50);
}

#containerRating{
	width: 113px;
}

#containerRating img{
	width: 19px;
	height: 19px;
}