<div id="container-agreement">
	<div class="container">

		<label class="col-xs-12 col-sm-12 text-orange text-1-25em text-center">
			CONVENIOS
		</label>

		<div class="col-xs-12 col-sm-12">
			<div class="text-1-25em row font-bold">
				Beep para su trabajo
			</div>
			<div class="row">
				Mejore el servicio de transporte en su empresa simplificando el papeleo, ahorrando dinero y privilegiando la seguridad para usted y sus colaboradores.
			</div>
		</div>

		<div class="col-xs-12 col-sm-12" id="container-benefits">
			<div class="text-1-25em row font-bold">
				Beneficios
			</div>
			<div class="margin-top-20 margin-bottom-20">
				<div class="row">
					<li>
						<label>Conveniencia</label>
					</li>
				</div>
				<div class="padding-left-12">
					Solicite un servicio donde y cuando lo necesite
				</div>
			</div>	
			<div class="margin-top-20 margin-bottom-20">
				<div class="row">		
					<li>
						<label>Seguridad</label>
					</li>
				</div>
				<div class="padding-left-12">
					Reciba un servicio seguro, legal y eficiente
				</div>
			</div>	
			<div class="margin-top-20 margin-bottom-20">
				<div class="row">		
					<li>
						<label>Control</label>
					</li>
				</div>	
				<div class="padding-left-12">
					Lleve control sobre los gastos y recorridos de su equipo de trabajo
				</div>	
			</div>	
			<div class="margin-top-20 margin-bottom-20">
				<div class="row">		
					<li>
						<label>Ahorro</label>
					</li>
				</div>	
				<div class="padding-left-12">
					Ahorre dinero con nuestros programas de beneficios
				</div>	
			</div>	
			<div class="margin-top-20 margin-bottom-20">
				<div class="row">		
					<li>
						<label>Eficiencia</label>
					</li>
				</div>	
				<div class="padding-left-12">
					Optimice los procesos eliminando el papeleo 
				</div>	
			</div>	
			<div class="margin-top-20 margin-bottom-20">
				<div class="row">		
					<li>
						<label>Flexibilidad</label>
					</li>
				</div>	
				<div class="padding-left-12">
					Elija el medio de pago que más le convenga a usted y su equipo
				</div>	
			</div>	
		</div>

		<div class="col-xs-12 col-sm-12">
			<label class="col-xs-12 col-sm-12 row text-1-25em text-center">
				Formulario de contacto
			</label>
			<form #formAgreement="ngForm" id="formAgreement" class="col-xs-12 col-sm-12 row">
 				<div class="form-group" style="overflow: hidden;">
					<div class="col-sm-6">
						<input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required [(ngModel)]="dataAgreement.name" ngControl="name" (keyup)="changeValidateInput('name', formAgreement)">
						<div style="display: none" id="status1" class="text-danger">¡Campo requerido!</div>
					</div>
					<div class="col-sm-6">
						<input type="text" name="lastname" id="lastname" class="form-control" placeholder="Apellido" required [(ngModel)]="dataAgreement.lastname" ngControl="lastname" (keyup)="changeValidateInput('lastname', formAgreement)">
						<div style="display: none" id="status2" class="text-danger">¡Campo requerido!</div>
					</div>
				</div>
				<div class="form-group" style="overflow: hidden;">
					<div class="col-sm-6">
						<input type="text" name="email" id="email" class="form-control" placeholder="Correo electrónico" required [(ngModel)]="dataAgreement.email" ngControl="email" (keyup)="changeValidateInput('email', formAgreement)">
						<div style="display: none" id="status3" class="text-danger">¡Campo requerido!</div>
					</div>
					<div class="col-sm-6">
						<input type="text" name="company" id="company" class="form-control" placeholder="Empresa" required [(ngModel)]="dataAgreement.company" ngControl="company" (keyup)="changeValidateInput('company', formAgreement)">
						<div style="display: none" id="status4" class="text-danger">¡Campo requerido!</div>
					</div>
				</div>
				<div class="form-group" style="overflow: hidden;">
					<div class="col-sm-6">
						<input type="text" name="rol" id="rol" class="form-control" placeholder="Cargo" required [(ngModel)]="dataAgreement.rol" ngControl="rol" (keyup)="changeValidateInput('rol', formAgreement)">
						<div style="display: none" id="status5" class="text-danger">¡Campo requerido!</div>
					</div>
					<div class="col-sm-6">
						<input type="text" name="companySize" id="companySize" class="form-control" placeholder="Tamaño de la empresa" required [(ngModel)]="dataAgreement.companySize" ngControl="companySize" (keyup)="changeValidateInput('companySize', formAgreement)">
						<div style="display: none" id="status6" class="text-danger">¡Campo requerido!</div>
					</div>
				</div>
				<div class="form-group" style="overflow: hidden;">
					<div class="col-sm-6">
						<input type="text" name="phone" id="phone" class="form-control" placeholder="Teléfono de contacto" required [(ngModel)]="dataAgreement.phone" ngControl="phone" (keyup)="changeValidateInput('phone', formAgreement)">
						<div style="display: none" id="status7" class="text-danger">¡Campo requerido!</div>
					</div>
					<div class="col-sm-6">
						
					</div>
				</div>
				<p class="text-center" style="font-weight:bold;">
		            {{responseMessage}}
		        </p>
				<div class="col-sm-12 text-center">
					<button type="button" id="btnViewContribution" class="btn btn-contact" (click)="sendEmail(formAgreement)" [disabled]="loadingProcess">
						<i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
						<span *ngIf="!loadingProcess">Enviar</span>
					</button>
				</div>
			</form>
		</div>

	</div>
</div>