#container-security{
	overflow: hidden;
	margin-bottom: 38px;
	padding-top: 132px;
	padding-bottom: 80px;
}

#container-security #banner{
	height: 560px;
	background-image: url('./../../assets/img/banner.png');
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 208px;
}

#container-security .container-info{
	padding-top: 100px;
	font-size: 1.2em;
    /*text-align: justify;*/
}

#container-security .container-info hr{
	margin-top: 0px !important;
    margin-bottom: 10px !important;
    border: 0;
    border-top: 1px solid #E35021 !important;
}

#container-security .container-info .row{
	margin-bottom: 40px;
}

.padding-r-40{
	padding-right: 40px;
}


.padding-l-40{
	padding-right: 40px;
}
