<div id="container-security">
	<div id="banner">
		<div class="text-4-5em text-white text-shadow-black text-center">
			Viajes más seguros
		</div>
		<div class="text-4-5em text-orange text-center">
			PARA TODOS
		</div>
	</div>
	<div class="container container-info">
		<div class="col-xs-12 col-sm-12">
			
			<div class="row">
				<div class="col-sm-6 padding-r-40">
					<div class="">
						<label>
							Línea de respuesta inmediata
						</label>
						<hr>
						<div>
							Contamos con una línea de atención continua para atender cualquier tipo de incidentes que pueda presentarse en la prestación de nuestros servicios. Si requiere de nuestra colaboración inmediata comuniquese al: 9999999
						</div>
					</div>
				</div>
				<div class="col-sm-6 padding-l-40">
					<div class="">
						<label>
							Nuestros carros
						</label>
						<hr>
						<div>
							Contamos únicamente con vehículos modelo 2012 los cuales son revisados periodicamente en talleres autorizados y vigilados por nuestros expertos en seguridad.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 padding-r-40">
					<div class="">
						<label>
							Botón de alerta
						</label>
						<hr>
						<div>
							Dentro de nuestra aplicación y mientras usted se encuntre en trayecto, podrá encontrar un botón de alerta para reportar emergencias. Al activarlo se enviará un mensaje inmediato a nuestra central de seguridad como a las autoridades pertinentes.
						</div>
					</div>
				</div>
				<div class="col-sm-6 padding-l-40">
					<div class="">
						<label>
							Evaluación en dos vías
						</label>
						<hr>
						<div>
							Nuestra aplicación permite tanto a usuarios como conductores calificar y comentar la experiencia al final de cada uno de sus viajes. Si se presentan calificaciones por debajo de 3 estrellas el usuario y el conductor no volverán a ser conectados en nuestra aplicación para futuros servicios.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 padding-r-40">
					<div class="">
						<label>
							Selección de conductores
						</label>
						<hr>
						<div>
							Todos nuestros conductores han sido sometidos a un estudio de seguridad y antecedentes para garantizar la seguridad integral de nuestro servicio.
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>