<header id="header">
    <div class="container">
        <figure id="logoUbeep">
            <a (click)="changeRoute('home')" ><img src="./assets/img/Logo Head.png" alt="Logo" /></a>
        </figure>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="navbar navbar-right">
            <div class="">
                <div class="collapse navbar-collapse" id="navBeep" (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a (click)="changeRoute('services')">Solicitar servicio</a></li>
                        <!--<li><a (click)="changeRoute('vehicles')">Vehículos</a></li>-->
                        <li dropdown (onToggle)="toggled($event)" id="li-beep">
                            <a id="simple-dropdownn" dropdownToggle id="nav-beep" (mouseover)="showDropdownBeep()">Beep</a>
                            <ul style="width: 240px;" id="dropdown-beep" class="dropdown-menu dropdown-menu-beep" dropdownMenu aria-labelledby="simple-dropdown">
                                <li><a class="dropdown-item" (click)="changeRoute('agreement')">Convenios</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="dropdown-item" (click)="changeRoute('alliance')">Alianzas</a></li>
                            </ul>
                        </li>
                        <li><a (click)="changeRoute('company')" >Conduzca con nosotros</a></li>
                        <li *ngIf="!statusLogin">
                            <a (click)="staticModal.show() && viewEmail=false"  id="btnIngresar"> {{stringNavLogin}} </a>
                        </li>
                        <li *ngIf="statusLogin" dropdown (onToggle)="toggled($event)">
                            <img src="./assets/img/Usuario.png" alt="" (mouseover)="showDropdownUser()" style="width: 29px;height: 29px;border-radius: 50%;margin-left: 14px;"> <a href="#" id="simple-dropdown" id="strUserName" dropdownToggle (mouseover)="showDropdownUser()" style="display: inline-block;">{{stringNavLogin}}  <i  class="fa fa-chevron-down" aria-hidden="true" id="simple-dropdown2" dropdownToggle></i> </a>
                            <ul id="dropdown-user-login" class="dropdown-menu dropdown-menu-beep" dropdownMenu aria-labelledby="simple-dropdown">
                                <li><a class="dropdown-item" (click)="changeRoute('profile')">Configurar perfil</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="dropdown-item" (click)="changeRoute('history')">Historial de solicitudes</a></li>
                                <li role="separator" class="divider"></li>
                                <li *ngIf="viewHistory"><a class="dropdown-item" (click)="changeRoute('corporative')">Crédito corporativo</a></li>
                                <li *ngIf="viewHistory" role="separator" class="divider"></li>
                                <!--<li><a class="dropdown-item" (click)="changeRoute('payment')">Agregar método de pago</a></li>-->
                                <!--<li role="separator" class="divider"></li>-->
                                <li><a class="dropdown-item" (click)="changeRoute('invite')">Invitar a un amigo</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="dropdown-item" (click)="changeRoute('register-company')">Inscribe tu empresa</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="dropdown-item" (click)="changeRoute('contact-admin')">Contactar a un administrador</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a (click)="modalLogUot.show()" class="dropdown-item">Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" (click)="hideChildModal()" aria-label="Close">
                    <img src="./assets/img/Close.png" alt="Cerrar">
                </a>
                <span>{{titleModal}}</span>
            </div>
            <div class="modal-body">

                <div *ngIf="login">
                    <form *ngIf="!viewEmail" #formLogin="ngForm" class="form-horizontal" >
                        <div class="form-group">
                            <input type="email" class="form-control col-sm-12 input-lg" id="email-login" placeholder="Correo electrónico" name="emailLogin" required [(ngModel)]="dataLogin.email" ngControl="email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control col-sm-12 input-lg" id="password-login" placeholder="Contraseña" name="passwordLogin" required required [(ngModel)]="dataLogin.pass" ngControl="pass">
                        </div>
                        <p>
                            <a (click)="changeContentModal('forgotpassword')">Recordar Contraseña</a>
                        </p>
                        <p class="text-center" style="font-weight:bold;">
                            {{messageLogin}}
                        </p>
                        <div class="form-group">
                            <button type="button" id="btn-login" class="btn btn-lg" (click)="loginUser(formLogin, true, 'normal')" [disabled]="loadingProcess">
                            <i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            <span *ngIf="!loadingProcess">Ingresar</span>
                            </button>
                        </div>
                        <button type="button" class="btn" style="display: none;" id="btnViewEmail"></button>
                        <div class="form-group">
                            <!--<a target="popup" (click)="checkFacebook()"> testNewWindow </a>-->
                            <button type="button" id="btn-login-facebook" class="btn btn-lg" (click)="onFacebookCheck('login')" [disabled]="loadingFacebookProcess">
                                <i *ngIf="loadingFacebookProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            </button>
                            <button type="button" id="btn-login-google" class="btn btn-lg" (click)="handleAuthClick($event, 'login')" [disabled]="loadingFacebookGoogle">
                            <i *ngIf="loadingFacebookGoogle" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            </button>
                        </div>
                        <p id="link-register">
                            <a (click)="changeContentModal('register')">Crear nueva cuenta</a>
                        </p>
                    </form>

                    <form *ngIf="viewEmail" #formLoginFacebook="ngForm" class="form-horizontal" >
                        <p class="text-center" style="font-weight:bold;">
                            Ingrese la siguiente información
                        </p>
                        <div class="form-group" *ngIf="typeRegisterSocial=='facebook'">
                            <input type="email" class="form-control col-sm-12 input-lg" id="email-login" placeholder="Correo electrónico" name="emailLogin" required [(ngModel)]="socialRegister.email" ngControl="email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-lg" id="identify-register" placeholder="Número de identificación" name="identify" required [(ngModel)]="socialRegister.identify" ngControl="identify">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-lg" id="cell-phone-register" placeholder="Celular" name="cellPhone" required [(ngModel)]="socialRegister.cellPhone" ngControl="cellPhone">
                        </div>
                        <div class="form-group">
                            <select class="form-control col-sm-12 input-lg" id="id_agreement" name="id_agreement" required [(ngModel)]="socialRegister.id_agreement" ngControl="id_agreement">
                                <option *ngFor="let initial of objInitialSetup; let i = index" [selected]="initial.id == 0" [value]="initial.id">
                                    {{initial.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-lg" id="code_agreement" placeholder="Código de convenio" name="code_agreement" [(ngModel)]="socialRegister.code_agreement" required ngControl="code_agreement">
                        </div>
                        <div class="form-group">
                            <button type="button" id="btn-login" class="btn btn-lg" (click)="loginUserFacebook(formLoginFacebook)" [disabled]="loadingProcess">
                            <i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            <span *ngIf="!loadingProcess">Ingresar</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div *ngIf="register">
                    <form *ngIf="!viewEmail" #formRegister="ngForm" class="form-horizontal">
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-lg" id="user-name-register" placeholder="Nombre de Usuario" name="userNameRegister" required [(ngModel)]="registerUserData.name" ngControl="name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control col-sm-12 input-lg" id="email-register" placeholder="Correo Electrónico" name="emailRegister" required [(ngModel)]="registerUserData.email" ngControl="email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-lg" id="identify-register" placeholder="Número de identificación" name="identifyRegister" required [(ngModel)]="registerUserData.identify" ngControl="identify">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-lg" id="cell-phone-register" placeholder="Celular" name="cellPhoneRegister" required [(ngModel)]="registerUserData.cellphone" ngControl="phone">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control col-sm-12 input-lg" id="password-register" placeholder="Contraseña" name="passwordRegister" required [(ngModel)]="registerUserData.pass" ngControl="pass">
                        </div>
                        <div class="form-group">
                            <select class="form-control col-sm-12 input-lg" id="id_agreement" name="id_agreement" required [(ngModel)]="registerUserData.id_agreement" ngControl="id_agreement">
                              <option *ngFor="let initial of objInitialSetup; let i = index" [selected]="initial.id == 0" [value]="initial.id">
                                {{initial.name}}
                              </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-lg" id="code_agreement" placeholder="Código de convenio" name="codeAgreement" required [(ngModel)]="registerUserData.code_agreement" ngControl="code_agreement">
                        </div>
                        <div class="form-group text-center" id="textSecurity">
                            <div>
                                Al registrarte acepta las <a href="#/security-policies"  target="_blank" class="font-bold cursor-pointer">políticas de privacidad</a> y los <a href="#/privacy-policies"  target="_blank" class="font-bold cursor-pointer">términos y condiciones</a> de Beep
                            </div>
                        </div>

                        <p class="text-center font-bold">
                            {{messageRegister}}
                        </p>

                        <div class="form-group">
                            <button type="button" id="btn-create" class="btn btn-lg" (click)="registerUser(formRegister)" [disabled]="loadingProcess">
                            <i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            <span *ngIf="!loadingProcess">Crear cuenta</span>
                            </button>
                        </div>
                        <div class="form-group">
                            <button type="button" id="btn-login-facebook" class="btn btn-lg" (click)="onFacebookCheck('login')" [disabled]="loadingFacebookProcess">
                            <i *ngIf="loadingFacebookProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            </button>
                            <button type="button" id="btn-login-google" class="btn btn-lg" (click)="handleAuthClick($event, 'login')" [disabled]="loadingFacebookGoogle">
                            <i *ngIf="loadingFacebookGoogle" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            </button>
                        </div>
                        <p id="link-login">
                            <a (click)="changeContentModal('login')">Ya tengo cuenta</a>
                        </p>
                    </form>
                    <form *ngIf="viewEmail" #formLoginSocial="ngForm" class="form-horizontal" >
                        <div class="form-group">
                            <input type="email" class="form-control col-sm-12 input-lg" id="email-login" placeholder="Correo electrónico" name="emailLogin" required ngControl="email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-lg" id="identify-register" placeholder="Número de identificación" name="identify" required ngControl="identify">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-lg" id="cell-phone-register" placeholder="Celular" name="cellPhone" required ngControl="phone">
                        </div>
                        <div class="form-group">
                            <select class="form-control col-sm-12 input-lg" id="id_agreement" name="id_agreement" required ngControl="id_agreement">
                                <option *ngFor="let initial of objInitialSetup; let i = index" [selected]="initial.id == 0" [value]="initial.id">
                                    {{initial.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-lg" id="code_agreement" placeholder="Código de convenio" name="code_agreement" [(ngModel)]="code_agreement" required ngControl="code_agreement">
                        </div>
                        <p class="text-center" style="font-weight:bold;">
                            Ingrese su correo electrónico
                        </p>
                        <div class="form-group">
                            <button type="button" id="btn-login" class="btn btn-lg" (click)="loginUserFacebook(formLoginSocial)" [disabled]="loadingProcess">
                            <i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            <span *ngIf="!loadingProcess">Ingresar</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div *ngIf="forgotpassword">
                    <form #formForgotPassword="ngForm" class="form-horizontal">
                        <div class="form-group">
                            <input type="text" class="form-control col-sm-12 input-lg" id="email-forgot" placeholder="Correo electrónico" name="emailForgot" required [(ngModel)]="dataForgot.email" ngControl="email">
                            <div class="text-center">
                                {{messageForgot}}
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" id="btn-forgot-password" class="btn btn-lg" (click)="forgotPassword(formForgotPassword)" [disabled]="loadingProcess">
                            <i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            <span *ngIf="!loadingProcess">Enviar</span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #modalCompleteDataUserSocial="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <span>Complete sus datos</span>
            </div>
            <div class="modal-body">
                <form #formCompleteDataUserComplete="ngForm" class="form-horizontal">
                    <div class="form-group">
                        <input type="text" class="form-control col-sm-12 input-lg" id="identify-register" placeholder="Número de identificación" name="identify" required [(ngModel)]="dataUser.identify" ngControl="identify">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control col-sm-12 input-lg" id="cell-phone-register" placeholder="Celular" name="cellPhone" required [(ngModel)]="dataUser.phone" ngControl="phone">
                    </div>
                    <div class="form-group">
                        <select class="form-control col-sm-12 input-lg" id="id_agreement" name="id_agreement" required [(ngModel)]="select_id_agreement" ngControl="id_agreement">
                          <option *ngFor="let initial of objInitialSetup; let i = index" [selected]="initial.id == 0" [value]="initial.id">
                            {{initial.name}}
                          </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control col-sm-12 input-lg" id="code_agreement" placeholder="Código de convenio" name="code_agreement" [(ngModel)]="code_agreement" required ngControl="code_agreement">
                    </div>

                    <p class="text-center" style="font-weight:bold;">
                        {{messageCompleteData}}
                    </p>
                    <div class="form-group">
                        <button type="button" id="btn-create" class="btn btn-lg" (click)="completeDataSocial(formCompleteDataUserComplete, 'notEmailSave')" [disabled]="loadingProcess">
                        <i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                        <span *ngIf="!loadingProcess">Completar datos</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #modalCompleteDataUserSocialEmailSave="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <span>Complete sus datos</span>
            </div>
            <div class="modal-body">
                <form #formCompleteDataUserComplete="ngForm" class="form-horizontal">
                    <div class="form-group">
                        <input type="text" class="form-control col-sm-12 input-lg" id="identify-register" placeholder="Número de identificación" name="identify" required [(ngModel)]="dataUser.identify" ngControl="identify">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control col-sm-12 input-lg" id="cell-phone-register" placeholder="Celular" name="cellPhone" required [(ngModel)]="dataUser.phone" ngControl="phone">
                    </div>
                    <div class="form-group">
                        <select class="form-control col-sm-12 input-lg" id="id_agreement" name="id_agreement" required [(ngModel)]="select_id_agreement" ngControl="id_agreement">
                            <option *ngFor="let initial of objInitialSetup; let i = index" [selected]="initial.id == 0" [value]="initial.id">
                                {{initial.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control col-sm-12 input-lg" id="code_agreement" placeholder="Código de convenio" name="code_agreement" [(ngModel)]="code_agreement" required ngControl="code_agreement">
                    </div>

                    <p class="text-center" style="font-weight:bold;">
                        {{messageCompleteData}}
                    </p>
                    <div class="form-group">
                        <button type="button" id="btn-create" class="btn btn-lg" (click)="completeDataSocial(formCompleteDataUserComplete, 'emailSave')" [disabled]="loadingProcess">
                            <i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            <span *ngIf="!loadingProcess">Completar datos</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #modalCompleteDataUser="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <span>Complete sus datos</span>
            </div>
            <div class="modal-body">
                <form #formCompleteDataUser="ngForm" class="form-horizontal">
                    <div class="form-group">
                        <input type="text" class="form-control col-sm-12 input-lg" id="identify-register" placeholder="Número de identificación" name="identify" required [(ngModel)]="dataUser.identify" ngControl="identify">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control col-sm-12 input-lg" id="cell-phone-register" placeholder="Celular" name="cellPhone" required [(ngModel)]="dataUser.phone" ngControl="phone">
                    </div>

                    <p class="text-center" style="font-weight:bold;">
                        {{messageCompleteData}}
                    </p>
                    <div class="form-group">
                        <button type="button" id="btn-create" class="btn btn-lg" (click)="completeData(formCompleteDataUser)" [disabled]="loadingProcess">
                        <i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                        <span *ngIf="!loadingProcess">Completar datos</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #modalLogUot="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" (click)="modalLogUot.hide()" aria-label="Close">
                    <img src="./assets/img/Close.png" alt="Cerrar">
                </a>
                <span>¿Está seguro que desea salir?</span>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <button type="button" class="btn btn-lg btn-orange" style="background-color: #e04b31;color:#FFFFFF;" (click)="logOutUser('si')" >Si</button>
                    <button type="button" class="btn btn-lg" (click)="logOutUser('no') && hideChildModal()" >No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #modalConfirmCancelService="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" (click)="confirmCancelService('no')" aria-label="Close">
                    <img src="./assets/img/Close.png" alt="Cerrar">
                </a>
                <span>¿Está seguro que desea salir?</span>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <span>Si sale de esta página su solicitud será cancelada</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-lg btn-orange" style="background-color: #e04b31;color:#FFFFFF;" (click)="confirmCancelService('si')" >Si</button>
                    <button type="button" class="btn btn-lg" (click)="confirmCancelService('no')" >No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #modalExitViewServices="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" (click)="exitViewService('no')" aria-label="Close">
                    <img src="./assets/img/Close.png" alt="Cerrar">
                </a>
                <span>¿Está seguro que desea salir?</span>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <span>Si sale de esta página los datos serán eliminados</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-lg btn-orange" style="background-color: #e04b31;color:#FFFFFF;" (click)="exitViewService('si')" >Si</button>
                    <button type="button" class="btn btn-lg" (click)="exitViewService('no')" >No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #timeSocketModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login" >
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" (click)="timeSocketModal.hide()" aria-label="Close">
                    <img src="./assets/img/Close.png" alt="Cerrar">
                </a>
                <span>&nbsp;</span>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <span>Lo sentimos, aún no puede solicitar un servicio, debe esperar aproximadamente 1 minuto</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-lg btn-orange" style="background-color: #e04b31;color:#FFFFFF;" (click)="timeSocketModal.hide()" >Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<router-outlet></router-outlet>
<footer>
    <div id="container-info-footer">
        <div class="row">
            <div class="container">
                <div class="col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <figure>
                                <img src="./assets/img/Logo Head.png" alt="">
                            </figure>
                            <div class="font-bold">
                                <div>Dirección Bogotá: Carrera 85ª # 52ª-41 - Barrio Los Monjes</div>
                                <div class="font-gothamRnd-medium">Bogotá - Colombia</div>
                                <div>Conmutador: 4 171 717</div>
                                <div class="font-gothamRnd-medium">Correo electrónico: servicioalcliente@ubeep.co</div>
                            </div>
                        </div>
                        <div class="col-sm-2 container-info-footer">

                        </div>
                        <div class="col-sm-2 container-info-footer">
                            <div class="">
                                <div for="" class="font-gothamRnd-medium text-1-25em">Compañía</div>
                                <p (click)="changeRoute('beep')" class="cursor-pointer font-gothamRnd-book">Acerca de Beep</p>
                                <p (click)="changeRoute('press')" class="cursor-pointer font-gothamRnd-book">Prensa</p>
                                <p (click)="changeRoute('company')" class="cursor-pointer font-gothamRnd-book">Trabaje con nosotros</p>
                            </div>
                        </div>
                        <div class="col-sm-2 container-info-footer">
                            <div class="">
                                <div for="" class="font-gothamRnd-medium text-1-25em">Beep Corporate</div>
                                <p (click)="changeRoute('agreement')" class="cursor-pointer font-gothamRnd-book">Convenios</p>
                                <p (click)="changeRoute('alliance')" class="cursor-pointer font-gothamRnd-book">Alianzas</p>
                            </div>
                        </div>
                        <div class="col-sm-2 container-info-footer">
                            <div class="">
                                <div for="" class="font-gothamRnd-medium text-1-25em">Viaje</div>
                                <p (click)="changeRoute('faq')" class="cursor-pointer font-gothamRnd-book">Preguntas frecuentes</p>
                                <p (click)="changeRoute('security')" class="cursor-pointer font-gothamRnd-book">Seguridad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="container-social-network">
        <div class="container">
            <div class="col-xs-12 col-sm-12 container-middle">
                <div class="row col-sm-6 content-middle-left">
                    <div class="label-social-network">
                        <span><a id="terminosA" class="font-gothamRnd-medium" style="color: white;text-decoration: none;" (click)="changeRoute('privacy-policies')" >Términos y condiciones</a></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span><a style="color: white;text-decoration: none;" (click)="changeRoute('security-policies')" class="font-gothamRnd-medium">Políticas de seguridad</a></span>
                    </div>
                </div>
                <div class="row col-sm-6 content-middle-left text-right">
                    <div class="label-social-network font-gothamRnd-medium">Síguenos en redes:</div>
                    <div class="container-img-social-network">
                        <figure>
                            <a href="https://www.facebook.com/Beep-280538782328892/?fref=ts" target="_blank" tooltip="Facebook"><img id="facebookUbeep"></a>
                        </figure>
                        <figure>
                            <a href="https://www.instagram.com/beep_col/" target="_blank" tooltip="Instagram"><img id="instagramUbeep"></a>
                        </figure>
                        <figure>
                            <a href="https://twitter.com" target="_blank" tooltip="Twitter"><img id="twitterUbeep"></a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
