#container-beep{
	margin-top: 132px;
	overflow: hidden;
	margin-bottom: 38px;
}

#container-beep .container{
	padding-left: 77px;
	padding-right: 77px;
}

#container-beep .container .title{
	margin-bottom: 60px;
	margin-top: 60px;
	font-size: 1.3em;
}

#container-beep .container .content{
	font-size: 1.2em;	
}

#container-beep .img-screenshots{
	width: 320px;
	margin-bottom: 50px;
	margin-top: 35px;
}

#container-beep .img-store{
	width: 135px;
	margin-bottom: 60px;
}