<div id="container-beep">
	<div class="container">
		
		<div class="text-center title font-gothamRnd-bold">
			ACERCA DE BEEP
		</div>
		
		<div>
			<p class="content font-gothamRnd-book">
				Beep es una aplicación web y móvil que se integra al esquema <b>NEXT TRANSPORT</b> con el fin de mejorar la experiencia de los usuarios y facilitar el trabajo de los conductores. Con un modelo enfocado en la legalidad como pilar fundamental, Beep aparece como la solución más eficiente y segura del mercado.
			</p>
			<p class="content font-gothamRnd-book">
				Esta aplicación estará disponible para todos nuestros clientes de forma gratuita y su flexibilidad le permitirá adaptarse a las necesidades puntuales de cada uno de ellos.
			</p>
		</div>
		<div class="text-center">
			<figure>
				<img class="img-screenshots" src="./assets/img/screenshots.png" alt="¡Beep!">
			</figure>
		</div>
		<div class="text-center">
			<p class="content">
				<span class="font-gothamRnd-bold">Descárguela ahora</span>
			</p>
			<p class="content font-gothamRnd-book">
				Y empiece a disfrutar de la experiencia Beep
			</p>
			<div>
				<figure>
					<img class="img-store" src="./assets/img/appStore.png" alt="App Store">
					<img class="img-store" src="./assets/img/googlePlay.png" alt="Google Play">
				</figure>
			</div>
		</div>
		
	</div>
</div>