<div id="container-register-company">
	<div class="container-background">
		
		<div class="container">
			<div class="col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading text-center text-1-8em">INSCRIBE TU EMPRESA</div>
							<div class="panel-body text-center">
								<form #formRegister="ngForm" id="formInvite" class="col-xs-12 col-sm-12 row">
									<div class="text-1-5em margin-bottom-50">
										Envíanos tus datos y nuestro equipo se pondrá en contacto contigo
									</div>

									<div class="margin-bottom-50">
										<div class="form-group">
											<input type="text" class="form-control col-sm-12 input-lg" id="name" placeholder="Nombre" name="name" ngModel required [(ngModel)]="dataRegister.name" ngControl="name" (keyup)="changeValidateInput('name', formRegister)">
											<div style="display: none" id="status2" class="text-danger">¡Campo requerido!</div>
										</div>
										<div class="form-group">
											<input type="text" class="form-control col-sm-12 input-lg" id="phone" placeholder="Teléfono" name="phone" ngModel required [(ngModel)]="dataRegister.phone" ngControl="phone" (keyup)="changeValidateInput('phone', formRegister)">
											<div style="display: none" id="status3" class="text-danger">¡Campo requerido!</div>
										</div>
										<div class="form-group">
											<input type="text" class="form-control col-sm-12 input-lg" id="email" placeholder="Correo electrónico" name="email" ngModel required [(ngModel)]="dataRegister.email" ngControl="email" (keyup)="changeValidateInput('email', formRegister)">
											<div style="display: none" id="status1" class="text-danger">¡Campo requerido!</div>
										</div>
									</div>

									<p class="text-center" style="font-weight:bold;">
							            {{responseMessage}}
							        </p>

									<div class="">
										<button type="button" class="btn btn-lg col-xs-12 col-sm-12 btn-orange" (click)="sendEmail(formRegister)" [disabled]="loadingProcess">
											<i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
											<span *ngIf="!loadingProcess" class="">Enviar datos</span>
							            </button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>