#container-agreement {
	margin-top: 132px;
    overflow: hidden;
	margin-bottom: 38px;
	padding-top: 80px;
}

#container-agreement #container-benefits{
    margin-bottom: 118px;
    margin-top: 70px;
}

#container-agreement li{
	padding: 0px;
}


#container-agreement .padding-left-12{
	padding-left: 12px;
}

#container-agreement .margin-top-20{
	margin-top: 20px;
}

#container-agreement .margin-bottom-20{
	margin-bottom: 20px;
}

#container-agreement #formContact{
	margin-top: 30px;
}


#container-agreement .btn-contact{
	background-repeat: no-repeat;
	background-color: #e45d2f ;
	background-size: 100% 100%;
	width : 140px;
	color: #FFFFFF;
	margin-top: 35px;
}