<div id="container-agreement">
	<div class="container">

		<label class="col-xs-12 col-sm-12 text-orange text-1-25em text-center">
			ALIANZAS
		</label>

		<div class="col-xs-12 col-sm-12" id="container-benefits">

			<div class="margin-top-20 margin-bottom-20">
				<div class="row">
					Ofrezca cupones de descuento beep para sus clientes
				</div>
			</div>	
			<div class="margin-top-20 margin-bottom-20">
				<div class="row">
					Optimice su proceso logístico usando nuestra infraestructura
				</div>
			</div>	
			<div class="margin-top-20 margin-bottom-20">
				<div class="row">
					Utilice a beep como una solución de transporte para sus eventos
				</div>	
			</div>	
			<div class="margin-top-20 margin-bottom-20">
				<div class="row">
					Gane dinero extra contribuyendo al crecimiento de Beep
				</div>	
			</div>	
			<div class="margin-top-20 margin-bottom-20">
				<div class="row">
					Use beep en grupo con sus compañeros de trabajo o universidad
				</div>	
			</div>
		</div>

		<div class="col-xs-12 col-sm-12">
			<label class="col-xs-12 col-sm-12 row text-1-25em text-center">
				Formulario de contacto
			</label>
			<form #formAlliance="ngForm" id="formAlliance" class="col-xs-12 col-sm-12 row">
 				<div class="form-group" style="overflow: hidden;">
					<div class="col-sm-6">
						<input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required [(ngModel)]="dataAlliance.name" ngControl="name" (keyup)="changeValidateInput('name', formAlliance)">
						<div style="display: none" id="status1" class="text-danger">¡Campo requerido!</div>
					</div>
					<div class="col-sm-6">
						<input type="text" name="lastname" id="lastname" class="form-control" placeholder="Apellido" required [(ngModel)]="dataAlliance.lastname" ngControl="lastname" (keyup)="changeValidateInput('lastname', formAlliance)">
						<div style="display: none" id="status2" class="text-danger">¡Campo requerido!</div>
					</div>
				</div>
				<div class="form-group" style="overflow: hidden;">
					<div class="col-sm-6">
						<input type="text" name="email" id="email" class="form-control" placeholder="Correo electrónico" required [(ngModel)]="dataAlliance.email" ngControl="email" (keyup)="changeValidateInput('email', formAlliance)">
						<div style="display: none" id="status3" class="text-danger">¡Campo requerido!</div>
					</div>
					<div class="col-sm-6">
						<input type="text" name="company" id="company" class="form-control" placeholder="Empresa" required [(ngModel)]="dataAlliance.company" ngControl="company" (keyup)="changeValidateInput('company', formAlliance)">
						<div style="display: none" id="status4" class="text-danger">¡Campo requerido!</div>
					</div>
				</div>
				<div class="form-group" style="overflow: hidden;">
					<div class="col-sm-6">
						<input type="text" name="rol" id="rol" class="form-control" placeholder="Cargo" required [(ngModel)]="dataAlliance.rol" ngControl="rol" (keyup)="changeValidateInput('rol', formAlliance)">
						<div style="display: none" id="status5" class="text-danger">¡Campo requerido!</div>
					</div>
					<div class="col-sm-6">
						<input type="text" name="companySize" id="companySize" class="form-control" placeholder="Tamaño de la empresa" required [(ngModel)]="dataAlliance.companySize" ngControl="companySize" (keyup)="changeValidateInput('companySize', formAlliance)">
						<div style="display: none" id="status6" class="text-danger">¡Campo requerido!</div>
					</div>
				</div>
				<div class="form-group" style="overflow: hidden;">
					<div class="col-sm-6">
						<input type="text" name="phone" id="phone" class="form-control" placeholder="Teléfono de contacto" required [(ngModel)]="dataAlliance.phone" ngControl="phone" (keyup)="changeValidateInput('phone', formAlliance)">
						<div style="display: none" id="status7" class="text-danger">¡Campo requerido!</div>
					</div>
					<div class="col-sm-6">
						
					</div>
				</div>
				<p class="text-center" style="font-weight:bold;">
		            {{responseMessage}}
		        </p>
				<div class="col-sm-12 text-center">
					<button type="button" id="btnViewContribution" class="btn btn-contact" (click)="sendEmail(formAlliance)" [disabled]="loadingProcess">
						<i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
						<span *ngIf="!loadingProcess">Enviar</span>
					</button>
				</div>
			</form>
		</div>

	</div>
</div>