<div id="container-invite">
	<div class="container-background">
		
		<div class="container">
			<div class="col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="panel panel-default">
							<div class="panel-heading text-center text-1-8em">INVITAR A UN AMIGO</div>
							<div class="panel-body text-center">

								<form #formInvite="ngForm" id="formInvite" class="col-xs-12 col-sm-12 row">

									<div class="text-1-5em margin-bottom-50">
										Ingresa el correo electrónico de tus amigos <br> e invítalos a vivir la experiencia Beep
									</div>

									<div class="margin-bottom-50">
										<input type="text" class="form-control col-sm-12 input-lg" id="email" placeholder="Correo electrónico" name="email" required [(ngModel)]="dataInvite.email" ngControl="email" (keyup)="changeValidateInput('email', formInvite)">
										<div style="display: none" id="status1" class="text-danger">¡Campo requerido!</div>
									</div>

									<p class="text-center" style="font-weight:bold;">
							            {{responseMessage}}
							        </p>

									<div class="">
										<button type="button" class="btn btn-lg col-xs-12 col-sm-12 btn-orange" (click)="sendEmail(formInvite)" [disabled]="loadingProcess">
											<i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
											<span *ngIf="!loadingProcess" class="">Enviar invitación</span>
							            </button>
									</div>

								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>