#container-invite{
	margin-top: 132px;
    overflow: hidden;
}

#container-invite .container-background{
	background-image: url('./../../assets/img/backgroundInvite.png');
	background-size: 100% auto;
    background-repeat: no-repeat;
	height: 800px;
	background-position-y: -60px;
	padding-top: 183px;
}

.panel{
	border: 0px solid transparent !important;
	background: transparent !important;
}

.panel-heading{
	background: #3a383b;
	border-color: transparent !important;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}

.panel-body{
	background: rgba(58, 56, 59, 0.54);
	border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    min-height: 300px;
    padding: 40px;
}

input{
	border: 0px solid transparent;
	height: 65px;
	font-size: 1.5em;
}

.btn-lg{
	height: 65px;
}

.margin-bottom-50{
	margin-bottom: 50px;
	overflow: hidden;
}
