<div id="container-services">
    <div *ngIf="viewFromService" id="viewContainerService" class="col-sm-12">
        <div class="row">
            <div class="col-sm-4 container-form">
                <div class="row saldo-disponible">
                    <input type="text" class="inputTextLabel text-center text-white" id="creditInput" disabled>
                </div>
                <div class="row style-label-tab">
                    <div (click)="$event.preventDefault()">
                        <tabset [justified]="true">
                            <tab heading="TRANSPORTE" [active]="tab.active">
                                <form #formServiceTransport="ngForm">
                                    <div class="col-sm-12 content-tab-transport style-text-tab">
                                        <div *ngIf="viewOriginTransport" id="viewOriginTransport">
                                            <div class="form-group" style="overflow: hidden;">
                                                <label for="servicio-origen"
                                                       class="col-xs-12 col-sm-12 row">Origen</label>
                                                <input type="text"
                                                       tabindex="1"
                                                       class="form-control col-sm-12"
                                                       placeholder="Dirección de origen"
                                                       name="origin_address"
                                                       id="autocompleteMapaOrigin"
                                                       required
                                                       [(ngModel)]="dataServiceTransport.origin_address"
                                                       ngControl="origin_address"
                                                       autocomplete="on"
                                                       runat="server"
                                                       autofocus
                                                       (focus)="detectInputMarker('originTransport')">
                                                <input type="hidden" name="origin_latitude"
                                                       id="origin_latitude"
                                                       required
                                                       [(ngModel)]="dataServiceTransport.origin_latitude"
                                                       ngControl="origin_latitude">
                                                <input type="hidden" name="origin_longitude"
                                                       id="origin_longitude"
                                                       required
                                                       [(ngModel)]="dataServiceTransport.origin_longitude"
                                                       ngControl="origin_longitude">
                                                <div style="display: none" id="status1" class="text-danger">¡Campo
                                                    requerido!
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group" style="overflow: hidden;">
                                                <label for="servicio-origen"
                                                       class="col-xs-12 col-sm-12 row">Destino</label>
                                                <input type="text"
                                                       tabindex="2"
                                                       class="form-control col-sm-12"
                                                       placeholder="Dirección de destino"
                                                       name="destiny_address"
                                                       id="autocompleteMapaDestination"
                                                       required
                                                       [(ngModel)]="dataServiceTransport.destiny_address"
                                                       ngControl="destiny_address"
                                                       autocomplete="on"
                                                       runat="server"
                                                       (focus)="detectInputMarker('destinationTransport')">
                                                <input type="hidden" name="destiny_latitude"
                                                       id="destiny_latitude"
                                                       required
                                                       [(ngModel)]="dataServiceTransport.destiny_latitude"
                                                       ngControl="destiny_latitude">
                                                <input type="hidden" name="destiny_longitude"
                                                       id="destiny_longitude"
                                                       required
                                                       [(ngModel)]="dataServiceTransport.destiny_longitude"
                                                       ngControl="destiny_longitude">
                                                <div style="display: none" id="status2" class="text-danger">¡Campo
                                                    requerido!
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group" id="container-img-types-services"
                                                 style="overflow: hidden;">
                                                <label for="servicio-propina" class="col-xs-12 col-sm-12 row">Tipo de
                                                    vehículo</label>
                                                <div class="col-xs-4 col-sm-4 text-center">
                                                    <div id="containerVehicleVan">
                                                        <figure class="" (click)="selectTypeVehicle(0)">
                                                            <img src="./assets/img/transporteVan.png" id="van" alt="">
                                                        </figure>
                                                        <br>
                                                        <label id="input-radio-van" (click)="selectTypeVehicle(0)">
                                                            <input type="radio" tabindex="3" id="vehiculoVan"
                                                                   name="bag_id" value="16"
                                                                   [(ngModel)]="dataServiceTransport.bag_id"
                                                                   ngControl="bag_id"> <span
                                                                style="display: none;"></span> Van
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-sm-4 text-center">
                                                    <div id="containerVehicleWhite">
                                                        <figure class="" (click)="selectTypeVehicle(1)">
                                                            <img src="./assets/img/transporteBlanco.png" id="blanco"
                                                                 alt="">
                                                        </figure>
                                                        <br>
                                                        <label id="input-radio-blanco" (click)="selectTypeVehicle(1)">
                                                            <input type="radio" tabindex="4" id="vehiculoBlanco"
                                                                   name="bag_id" value="25"
                                                                   [(ngModel)]="dataServiceTransport.bag_id"
                                                                   ngControl="bag_id"> <span
                                                                style="display: none;"></span> Blanco
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class=" col-xs-4 col-sm-4 text-center">
                                                    <div id="containerVehicleElectric">
                                                        <figure class="" (click)="selectTypeVehicle(2)">
                                                            <img src="./assets/img/transporteElectrico.png"
                                                                 id="electrico" alt="">
                                                        </figure>
                                                        <br>
                                                        <label id="input-radio-electrico"
                                                               (click)="selectTypeVehicle(2)">
                                                            <input type="radio" tabindex="5" id="vehiculoElectrico"
                                                                   name="bag_id" value="26"
                                                                   [(ngModel)]="dataServiceTransport.bag_id"
                                                                   ngControl="bag_id"> <span
                                                                style="display: none;"></span> Eléctrico
                                                        </label>
                                                    </div>
                                                </div>
                                                <div style="display: none" id="status3" class="text-danger">¡Campo
                                                    requerido!
                                                </div>
                                                <input type="hidden" name="type_service"
                                                       id="type_service"
                                                       required
                                                       [(ngModel)]="dataServiceTransport.type_service"
                                                       ngControl="type_service">
                                            </div>
                                            <br>
                                            <div class="form-group" style="overflow: hidden;">
                                                <label for="propinaTransporte"
                                                       class="col-xs-12 col-sm-12 row">Propina</label>
                                                <input type="text"
                                                       tabindex="6"
                                                       class="form-control col-sm-12"
                                                       placeholder="Opcional"
                                                       name="tip"
                                                       id="tip"
                                                       [(ngModel)]="dataServiceTransport.tip"
                                                       ngControl="tip">
                                            </div>
                                            <div class="container-btn-continue text-right">
                                                <button type=button style="display:none" id="cancelProcessLoading"
                                                        (click)="cancelProcessLoading()"></button>
                                                <button type="button" id="btnViewContribution"
                                                        class="btn btn-lg btn-continue"
                                                        (click)="onSubmitFormTransport(formServiceTransport.value)"
                                                        [disabled]="loadingProcess">
                                                    <i *ngIf="loadingProcess"
                                                       class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                                                    <span *ngIf="!loadingProcess">Continuar</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </tab>
                            <tab heading="ENVÍOS" [active]="!tab.active" (select)="loadContentTabSend(1)">
                                <form #formServiceSend="ngForm">
                                    <div class="col-sm-12 content-tab-transport style-text-tab">
                                        <div id="viewOriginSend">
                                            <div class="form-group" style="overflow: hidden;    margin-bottom: 27px;">
                                                <label for="autocompleteMapaOriginSend" class="col-xs-12 col-sm-12 row">Origen</label>
                                                <input type="text"
                                                       tabindex="1"
                                                       class="form-control col-sm-12"
                                                       placeholder="Dirección de origen"
                                                       name="origin_address"
                                                       id="autocompleteMapaOriginSend"
                                                       required
                                                       [(ngModel)]="dataServiceSend.origin_address"
                                                       ngControl="origin_address"
                                                       autocomplete="on"
                                                       runat="server"
                                                       autofocus
                                                       (focus)="detectInputMarker('originSend')">
                                                <input type="hidden" name="origin_latitude"
                                                       id="origin_latitude"
                                                       required
                                                       [(ngModel)]="dataServiceSend.origin_latitude"
                                                       ngControl="origin_latitude">
                                                <input type="hidden" name="origin_longitude"
                                                       id="origin_longitude"
                                                       required
                                                       [(ngModel)]="dataServiceSend.origin_longitude"
                                                       ngControl="origin_longitude">
                                            </div>
                                            <div style="display: none" id="status4" class="text-danger">¡Campo
                                                requerido!
                                            </div>
                                            <br>
                                            <div class="form-group" style="overflow: hidden;    margin-bottom: 27px;">
                                                <input type="text"
                                                       tabindex="2"
                                                       class="form-control col-sm-12"
                                                       placeholder="Piso / Apartamento / Oficina"
                                                       name="origin_detail"
                                                       id="origin_detail"
                                                       [(ngModel)]="dataServiceSend.origin_detail"
                                                       ngControl="origin_detail">
                                            </div>
                                            <br>
                                            <br>
                                            <div class="form-group" style="overflow: hidden;    margin-bottom: 27px;">
                                                <label for="autocompleteMapaDestinationSend"
                                                       class="col-xs-12 col-sm-12 row">Destino</label>
                                                <input type="text"
                                                       tabindex="3"
                                                       class="form-control col-sm-12"
                                                       placeholder="Dirección de destino"
                                                       name="destiny_address"
                                                       id="autocompleteMapaDestinationSend"
                                                       required
                                                       [(ngModel)]="dataServiceSend.destiny_address"
                                                       ngControl="destiny_address"
                                                       autocomplete="on"
                                                       runat="server"
                                                       (focus)="detectInputMarker('destinationSend')">
                                                <input type="hidden" name="destiny_latitude"
                                                       id="destiny_latitude"
                                                       required
                                                       [(ngModel)]="dataServiceSend.destiny_latitude"
                                                       ngControl="destiny_latitude">
                                                <input type="hidden" name="destiny_longitude"
                                                       id="destiny_longitude"
                                                       required
                                                       [(ngModel)]="dataServiceSend.destiny_longitude"
                                                       ngControl="destiny_longitude">
                                            </div>
                                            <div style="display: none" id="status5" class="text-danger">¡Campo
                                                requerido!
                                            </div>
                                            <br>
                                            <div class="form-group" style="overflow: hidden;    margin-bottom: 27px;">
                                                <input type="text"
                                                       tabindex="4"
                                                       class="form-control col-sm-12"
                                                       placeholder="Piso / Apartamento / Oficina"
                                                       name="destiny_detail"
                                                       id="destiny_detail"
                                                       [(ngModel)]="dataServiceSend.destiny_detail"
                                                       ngControl="destiny_detail">
                                            </div>
                                            <button type="button" id="changeProcessView" class="btn btn-lg btn-continue"
                                                    (click)="nextProcess('viewFromService4',formServiceSend, 2)"
                                                    [disabled]="loadingProcess">Continuar
                                            </button>
                                        </div>
                                        <div id="viewDestinationSend">
                                            <div class="form-group" style="overflow: hidden;    margin-bottom: 27px;">
                                                <label for="descripcionSend"
                                                       class="col-xs-12 col-sm-12 row">Descripción</label>
                                                <input type="text"
                                                       tabindex="1"
                                                       class="form-control col-sm-12"
                                                       placeholder="Breve descripción de tu envío"
                                                       name="description_text"
                                                       id="description_text"
                                                       [(ngModel)]="dataServiceSend.description_text"
                                                       ngControl="description_text"
                                                       (ngModelChange)="changeValidateInput('description_text')">
                                                <div style="display: none" id="status6" class="text-danger">¡Campo
                                                    requerido!
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group" style="overflow: hidden;    margin-bottom: 27px;">
                                                <label for="valorDeclaradoSend" class="col-xs-12 col-sm-12 row">Valor
                                                    declarado</label>
                                                <input type="text"
                                                       tabindex="2"
                                                       class="form-control col-sm-12"
                                                       placeholder="En pesos colombianos"
                                                       name="declared_value"
                                                       id="declared_value"
                                                       [(ngModel)]="dataServiceSend.declared_value"
                                                       ngControl="declared_value"
                                                       (ngModelChange)="changeValidateInput('declared_value')">
                                                <div style="display: none" id="status7" class="text-danger">¡Campo
                                                    requerido!
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group" style="overflow: hidden;    margin-bottom: 27px;">
                                                <label for="destinatarioSend" class="col-xs-12 col-sm-12 row">Destinatario</label>
                                                <input type="text"
                                                       tabindex="3"
                                                       class="form-control col-sm-12"
                                                       placeholder="Nombre y apellido del destinatario"
                                                       name="destiny_name"
                                                       id="destiny_name"
                                                       [(ngModel)]="dataServiceSend.destiny_name"
                                                       ngControl="destiny_name"
                                                       (ngModelChange)="changeValidateInput('destiny_name')">
                                                <div style="display: none" id="status8" class="text-danger">¡Campo
                                                    requerido!
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group" style="overflow: hidden;    margin-bottom: 27px;">
                                                <label for="propinaEnviar"
                                                       class="col-xs-12 col-sm-12 row">Propina</label>
                                                <input type="text"
                                                       tabindex="4"
                                                       class="form-control col-sm-12"
                                                       placeholder="Opcional"
                                                       name="tip"
                                                       id="tip"
                                                       [(ngModel)]="dataServiceSend.tip"
                                                       ngControl="tip">
                                            </div>
                                            <div class="container-btn-continue text-right">
                                                <button type=button style="display:none" id="cancelProcessLoading"
                                                        (click)="cancelProcessLoading()"></button>
                                                <button type="button" class="btn btn-lg btn-back"
                                                        (click)="nextProcess('viewFromService3',formServiceSend, 2)">
                                                    Atrás
                                                </button>
                                                <button type="button" id="btnViewContributionSend"
                                                        class="btn btn-lg btn-continue"
                                                        (click)="onSubmitFormSend(formServiceSend.value)"
                                                        [disabled]="loadingProcess">
                                                    <i *ngIf="loadingProcess"
                                                       class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                                                    <span *ngIf="!loadingProcess">Continuar</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="viewContribution" id="viewContainerPayment" class="container">
        <div class="container-payment">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-4">
                    <div class="text-center title-main">
                        <span for="" class="text-1-4em font-gothamRnd-medium">RESUMEN DE TU SERVICIO</span>
                    </div>
                    <div class="row">
                        <div class="container-info">
                            <span for="" class="col-sm-12 font-gothamRnd-medium text-1-2em">ORIGEN</span>
                            <div class="col-sm-10 text-1-1em">
                                {{origin_address}}
                                <br>
                                {{origin_detail}}
                            </div>
                            <div class="col-sm-2 text-right row">
                                <a class="font-bold text-orange text-1-2em" (click)="editInfo('origin')">
                                    Editar
                                </a>
                            </div>
                        </div>
                        <div *ngIf="containerTypeVehicle" class="container-info">
                            <span for="" class="col-sm-12 font-gothamRnd-medium text-1-2em">TIPO DE VEHÍCULO</span>
                            <div class="col-sm-10 text-1-1em">
                                {{type_service_string}}
                            </div>
                            <div class="col-sm-2 text-right row text-1-2em">
                                <a class="font-bold text-orange" (click)="editInfo('type_vehicle')">
                                    Editar
                                </a>
                            </div>
                        </div>
                        <div class="container-info">
                            <span for="" class="col-sm-12 font-gothamRnd-medium text-1-2em">DESTINO</span>
                            <div class="col-sm-10 text-1-1em">
                                {{destiny_address}}
                                <br>
                                {{destiny_detail}}
                            </div>
                            <div class="col-sm-2 text-right row">
                                <a class="font-bold text-orange text-1-2em" (click)="editInfo('destination')">
                                    Editar
                                </a>
                            </div>
                        </div>
                        <div *ngIf="containerDestinyName" class="container-info">
                            <span for="" class="col-sm-12 font-gothamRnd-medium text-1-2em">DESTINATARIO</span>
                            <div class="col-sm-10 text-1-1em">
                                {{destiny_name}}
                            </div>
                            <div class="col-sm-2 text-right row">
                                <a class="font-bold text-orange text-1-2em" (click)="editInfo('addressee')">
                                    Editar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-4">
                    <div class="text-center title-main">
                        <span for="" class="text-1-4em font-gothamRnd-medium">MEDIO DE PAGO</span>
                    </div>
                    <div class="row">
                        <div class="container-info">
                            <!--<label for="pay-card" class="col-sm-12 row">&nbsp;</label>-->
                            <label id="pay-card" (click)="selectTypePay('0')">
                                <input type="radio" name="testRadio" value="3"> <span></span>Tarjeta de crédito
                            </label>
                            <span class="pull-right btn-cancel-type-pay" *ngIf="viewFormTarget"
                                  (click)="selectTypePay('cancel')">Cancelar</span>
                            <br>
                            <div class="col-sm-12" *ngIf="viewFormTarget">
                                <br>
                                <div class="row">
                                    <span>Número de tarjeta</span>
                                    <input type="text" class="form-control col-sm-12 col-xs-12" [(ngModel)]="paymentGateWay.x_card_num" maxlength="16">
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="row">
                                            <span>Fecha de vencimiento</span>
                                            <br>
                                            <input type="text" class="form-control col-sm-12 col-xs-12" [(ngModel)]="paymentGateWay.x_exp_date" maxlength="5">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-sm-offset-1">
                                        <div class="row">
                                            <span>Código de seguridad</span>
                                            <br>
                                            <input type="text" class="form-control col-sm-12 col-xs-12" [(ngModel)]="paymentGateWay.x_card_code" maxlength="5">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12 center">
                                        <div class="row">
                                            <p>
                                                <b>{{messagePaymentGateWayTokenize}}</b>
                                            </p>
                                            <!--Guardar tarjeta de crédito para próximos servicios-->
                                            <!--<div class="checkbox pull-right" style="margin-top: 0px;">-->
                                                <!--<label>-->
                                                    <!--&nbsp;&nbsp;<input type="checkbox">-->
                                                <!--</label>-->
                                            <!--</div>-->
                                            <button type="button" class="btn btn-lg btn-orange" (click)="paymentGateWayTokenize()"
                                                    [disabled]="loadingProcessPaymentGateWayPost">
                                                <i *ngIf="loadingProcessPaymentGateWayPost" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                                                <span *ngIf="!loadingProcessPaymentGateWayPost">Agregar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!viewFormTarget" class="container-info">
                            <label id="pay-cash" (click)="selectTypePay('1')">
                                <input type="radio" name="testRadio" value="2"> <span></span>Pago en efectivo
                            </label>
                        </div>
                        <div *ngIf="!viewFormTarget" class="container-info">
                            <div id="viewPayCredit">
                                <label id="pay-corporate" (click)="selectTypePay('2')">
                                    <input type="radio" name="testRadio" value="3"> <span></span>Crédito corporativo
                                </label>
                            </div>
                        </div>
                        <div class="container-info text-center" id="viewOpenModalBond">
                            <a class="text-orange text-1-1em" (click)="showChildModal()">Ingresar código de bono</a>
                        </div>
                        <div class="container-info text-center" id="viewCodeSuccess" style="display: none;">
                            <span class="font-bold text-1-2em">Tu código {{code_confirm}} <br> ha sido registrado exitosamente <br> por un valor de
                                <span class="text-orange" id="code_value"> </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container-values">
                <div class="col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 text-right">
                            <span class="font-gothamRnd-medium text-1-2em">VALOR APROXIMADO</span>
                        </div>
                        <div class="col-sm-6 text-left">
                            <i id="spinnerIconReal" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            <span id="price_service_real" class="font-bold">
							</span>
                        </div>
                    </div>
                    <div id="containerBond" class="row" style="display:none;">
                        <div class="col-sm-6 text-right">
                            <span class="font-gothamRnd-medium text-1-2em">DESCUENTO BONO</span>
                        </div>
                        <div class="col-sm-6">
							<span id="bond_service" class="font-bold">
							</span>
                        </div>
                    </div>
                    <div class="row margin-t-15">
                        <div class="col-sm-6 text-right text-orange text-1-3em">
                            <label>TOTAL APROXIMADO</label>
                        </div>
                        <div class="col-sm-6">
                            <i id="spinnerIcon" class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom"></i>
                            <span id="price_service" class="text-orange text-1-3em font-bold">
							</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div style="margin-bottom: 50px;">
                        <div class="text-danger text-center font-bold" id="status9" style="display: none !important;">
                            ¡Seleccione un tipo de pago!
                        </div>
                    </div>
                    <div style="margin-bottom: 50px;">
                        <div class="text-center font-bold">
                            {{messagePaymentGateWayPost}}
                        </div>
                    </div>
                    <div class="text-center" id="responsePayService" style="font-weight:bold;">

                    </div>
                    <button type=button style="display:none" id="cancelProcessLoading"
                            (click)="cancelProcessLoading()"></button>
                    <button type="button" id="btnPay" class="btn btn-lg btn-orange" (click)="payService()"
                            [disabled]="loadingProcess">
                        <i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                        <span *ngIf="!loadingProcess">Realiza tu pago</span>
                    </button>
                    <button type="button" id="nextProcessViewSuccess" style="display:none"
                            (click)="nextProcessViewSuccess()" class="btn"></button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="viewSuccess" id="viewContainerSuccessPay">
        <div class="container text-right" style="padding-top: 68px;">
            <div class="text-4em font-bold">
                ¡TU SOLICITUD <br>
                HA SIDO REALIZADA!
            </div>
            <div class="text-3-5em padding-top-28 font-gothamRnd-book">
                Su Beep va en camino
            </div>
            <div class="text-2em font-gothamRnd-book">
                Le notificaremos cuando su conductor <br> haya llegado a su ubicación
            </div>
            <button type="button" class="btn" style="display:none;" id="btnPushWeb" (click)="pushWeb()">2</button>
            <button type="button" class="btn" style="display:none;" id="btnViewConfirmService"
                    (click)="btnViewConfirmService()">ok
            </button>
            <div class="text-2em padding-top-50">
                <div class="">
                    <button type="button" (click)="cancelService()" class="btn btn-cancel">
                        <span class="">Cancelar servicio</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="viewDataConfirm" id="viewDataConfirm" class="col-sm-12 row">
        <div class="col-sm-4 container-form">
            <label for="servicio-origen" class="col-xs-12 col-sm-12 text-orange text-1-25em text-center margin-borders">¡TU
                SOLICITUD HA SIDO REALIZADA!</label>
            <div class="col-xs-12 col-sm-12">
                <figure class="margin-borders text-center">
                    <img src={{picture_employee}} id="img-driver" alt="...">
                </figure>
                <figure *ngIf="rating_employee==1" id="containerRating" class="text-center">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                </figure>
                <figure *ngIf="rating_employee==2" id="containerRating" class="text-center">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                </figure>
                <figure *ngIf="rating_employee==3" id="containerRating" class="text-center">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                </figure>
                <figure *ngIf="rating_employee==4" id="containerRating" class="text-center">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                </figure>
                <figure *ngIf="rating_employee==5" id="containerRating" class="text-center">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                    <img src="./assets/img/iconStarSelected.png" alt="">
                </figure>
                <figure *ngIf="!rating_employee==1 && !rating_employee==2 && !rating_employee==3 && !rating_employee==4 && !rating_employee==5"
                        id="containerRating" class="text-center">
                    <img src="./assets/img/iconStar.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                    <img src="./assets/img/iconStar.png" alt="">
                </figure>
                <div class="margin-bottom">

                </div>
                <div class="margin-bottom">
                    <div class="text-1-25em text-center">
                        {{name_employee}} {{lastName_employee}}
                    </div>
                </div>
                <div class="margin-bottom">
                    <div class="text-1-25em text-center font-bold">
                        {{vehicle_brand}} {{vehicle_model}}
                    </div>
                    <div>
                        {{license_plate}}
                    </div>
                </div>
                <div class="margin-borders row">
                    <div class="col-sm-6 row">
                        <div class="text-1-25em text-center font-bold">
                            Tiempo de llegada:
                        </div>
                        <div class="text-center">
                            {{arrival_time}}
                        </div>
                    </div>
                    <div class="col-sm-6 row">
                        <div class="text-1-25em text-center font-bold">
                            Código de seguridad:
                        </div>
                        <div class="text-center">
                            {{security_code}}
                        </div>
                    </div>
                </div>
                <div class="margin-borders text-center">
                    <button type="button" class="btn" style="display: none;" id="btnShowModalConfirmBeep"
                            (click)="showModalConfirmBeep()">modal
                    </button>
                    <button type="button" id="btnCancelService" class="btn" (click)="cancelService()">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div id="googleMap"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #modalBono="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" (click)="modalBono.hide()" aria-label="Close">
                    <img src="./assets/img/Close.png" alt="Cerrar">
                </a>
                <span>Bono</span>
            </div>
            <div class="modal-body">
                <form #formCode="ngForm">
                    <div class="form-group">
                        <input type="text" class="form-control col-sm-12 input-lg" id="inputBono" name="inputBono"
                               ngModel required>
                    </div>
                    <div class="form-group text-center text-information">
                        <p class="inputTextLabel text-center">
                            <span class="text-1-5em">{{message_bond}}</span>
                        </p>
                    </div>
                    <div class="form-group text-center">
                        <button style="display:none" type="button" id="btnConfirmarBonod" class="btn btn-lg col-sm-12">

                        </button>
                        <button type="button" id="btnConfirmarBono" class="btn btn-lg col-sm-12"
                                (click)="confirmCode(formCode)" [disabled]="loadingBoundProcess">
                            <i *ngIf="loadingBoundProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                            <span *ngIf="!loadingBoundProcess">Confirmar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #modalLoading="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login">
    <div class="modal-dialog modal-md">
        <!--<img src="./assets/img/" alt="">-->
    </div>
</div>
<div class="modal fade" bsModal #modalConfirmBeep="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header header-transparent">
                <a class="close" (click)="modalConfirmBeep.hide()" aria-label="Close">
                    <img src="./assets/img/Close.png" alt="Cerrar">
                </a>
            </div>
            <div class="modal-body">

                <div class="form-group text-center text-information">
                    <p class="inputTextLabel text-center">
                        <span class="text-1-5em font-bold">¡TU BEEP HA LLEGADO!</span>
                    </p>
                </div>
                <div class="form-group text-center">
                    <button type="button" id="btnConfirmarBono" class="btn btn-lg col-sm-12 btnOrange"
                            (click)="hideModalConfirmBeep()">
                        <span class="">Aceptar</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #modalCancelBeep="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header header-transparent">
                <a class="close" (click)="hideModalCancelBeep()" aria-label="Close">
                    <img src="./assets/img/Close.png" alt="Cerrar">
                </a>
            </div>
            <div class="modal-body">

                <div class="form-group text-center text-information">
                    <p class="inputTextLabel text-center">
                        <span class="text-1-5em font-bold">¡TU SOLICITUD SE HA CANCELADO!</span>
                    </p>
                </div>
                <div class="form-group text-center">
                    <button type="button" id="btnHideModalCancelBeep" class="btn btn-lg col-sm-12 btnOrange"
                            (click)="hideModalCancelBeep()">
                        <span class="">Aceptar</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #modalCancelDriveBeep="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header header-transparent">
                <a class="close" (click)="modalCancelDriveBeep.hide()" aria-label="Close">
                    <img src="./assets/img/Close.png" alt="Cerrar">
                </a>
            </div>
            <div class="modal-body">

                <div class="form-group text-center text-information">
                    <p class="inputTextLabel text-center">
                        <span class="text-1-5em font-bold">¡TU SOLICITUD SE HA CANCELADO!</span>
                        <br><br>
                        <span class="text-1-5em font-bold">Estamos buscando un nuevo conductor</span>
                    </p>
                </div>
                <div class="form-group text-center">
                    <button type="button" id="btnHideModalCancelBeep" class="btn btn-lg col-sm-12 btnOrange"
                            (click)="modalCancelDriveBeep.hide()">
                        <span class="">Aceptar</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #modalConfirmCancelBeep="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
     tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-login">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" (click)="modalConfirmCancelBeep.hide()" aria-label="Close">
                    <img src="./assets/img/Close.png" alt="Cerrar">
                </a>
                <span>¿Está seguro que desea cancelar el servicio?</span>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <button type="button" class="btn btn-lg btn-orange" style="background-color: #e04b31;color:#FFFFFF;"
                            (click)="confirmCancelBeep('si')">Si
                    </button>
                    <button type="button" class="btn btn-lg" (click)="confirmCancelBeep('no') && hideChildModal()">No
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
