@font-face {font-family: "GothamRnd-Medium";
    src: url("./../../assets/fonts/gotham-rounded/GothamRnd-Medium.otf");
}

#container-services{
	background-color: #FFFFFF;
	min-height: 628px;
	margin-top: 132px;
	overflow: hidden;
}
#container-services #googleMap {
  height: 771px;
  width: 100%;
}

.btn-cancel-type-pay{
	color: #e34522;
	cursor: pointer;
	text-decoration: underline;
}

.nav-tabs {
  color:  red !important;
}


#container-services .saldo-disponible{
	background: #e55e2f;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
#container-services .nav{
	border-bottom: 1px solid #3A383B !important;
}
#container-services tab .content-tab-transport{
	padding-top: 35px;
	height: 670px;
	position: relative;
}
#container-services tab .form-group{
	/*padding-bottom: 85px; */
}
#container-services tab .form-group input[type=text]{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-style: italic;
    line-height: 1.42857143;
    color: #555555;
    background-color: #FFFFFF;
    background-image: none;
    border-bottom: 1px solid #CCCCCC;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.inputTextLabel{
	display: block;
    cursor: default;
    width: 100%;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3f3f3f;
    background-color: transparent !important;
    background-image: none;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#container-services tab .form-group label{
	font-weight: 600;
}

#container-services tab #container-img-types-services .col-sm-4{
	margin-top: 25px;
}
#container-services tab #container-img-types-services .col-sm-4 label{
    margin-top: 14px;
}
#container-services tab #container-img-types-services figure{
	display: inline-block;
	width: 90px;
	height: 38px;
}
#container-services tab #container-img-types-services figure img{
	width: 100%;
}
#container-services tab #container-img-types-services label {
  cursor: pointer;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + span {
	background-color: #fefefe;
    border: 1px solid;
    border-color: #c2c2c2 #c2c2c2 #c2c2c2 #c2c2c2;
    border-radius: 50px;
    display: inline-block;
    float: left;
    margin-right: 7px;
    padding: 7px;
    position: relative;
    -webkit-appearance: none;
}
input[type="radio"]:checked + span {
    color: #d40000;
    background: #c2c2c2;
}
input[type="radio"]:checked + span:after {
	background: #d40000;
    border-radius: 50px;
    content: " ";
    height: 10px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 10px;
}
.btn-cancel{
  ./assets/fonts/gotham-rounded/GothamRnd-Medium.otf
	background-image: url('./../../assets/img/Boton_Contactanos.png')!important;
	background-repeat: no-repeat;
	background-color: transparent !important;
	background-size: 100% 100%;
	min-width : 210px;
	color: #FFFFFF;
	text-align: center;
}
#container-services .btn-continue{
	background-image: url('./../../assets/img/Boton_Contactanos.png')!important;
	background-repeat: no-repeat;
	background-color: transparent !important;
	background-size: 100% 100%;
	width : 170px;
	color: #FFFFFF;
	text-align: center;
	position: absolute;
    right: 20px;
    bottom: 20px;
}
#container-services .btn-back{
	background-image: url('./../../assets/img/Boton_Contactanos.png')!important;
	background-repeat: no-repeat;
	background-color: transparent !important;
	background-size: 100% 100%;
	width : 170px;
	color: #FFFFFF;
	text-align: center;
	position: absolute;
    right: 200px;
    bottom: 20px;
}
#container-services .container-payment{
	padding-top: 60px;
}
#container-services .container-payment .title-main{
	padding-bottom: 55px;
}
#container-services .container-payment .container-info{
	margin-bottom: 30px;
	overflow: hidden;
}
#btnConfirmarBono{
	height: 65px;
	background-color: #e04b31;
	color: #FFFFFF;
	text-align: center;
}
.text-information{
	margin-bottom: 69px;
}
#inputBono{
	text-align: center;
}
a:hover{
	text-decoration: none !important;
	color: #E35021 !important;
	cursor: pointer;
}
#viewContainerSuccessPay{
	background-image: url("./../../assets/img/backgroundConfirmacion.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 628px;
	color: #FFFFFF;
}
.padding-top-50{
	margin-top: 50px;
}
.padding-top-28{
	margin-top: 28px;
}
#btnPay{
	margin-bottom: 50px;
}
.text-white{
	color: #FFFFFF;
}
@media screen and (min-width: 307px) and (max-width: 407px){
	#container-services #container-img-types-services .col-xs-4{
		width: 100% !important;
	}
	#container-services .container-form{
	    min-height: 872px !important;
	}
	#container-services .container-btn-continue{
		text-align: center !important;
	}
	#container-services .btn-continue{
		position: relative !important;
		bottom: 0px !important;
		right: 0px !important;
	}
}

#container-services #viewDataConfirm{

}
#container-services #viewDataConfirm #img-driver{
	width: 100px;
	height: 100px;
	border-radius: 20px;
}
#container-services #viewDataConfirm .margin-borders{
	padding-top: 35px;
	padding-bottom: 35px;
}
#container-services #viewDataConfirm .margin-bottom{
	padding-bottom: 12px;
}
#container-services #viewDataConfirm #btnCancelService{
	background-color: #3a383b !important;
	width: 145px;
	color: white;
}
#modal-login .modal-content .header-transparent{
	background-color: #eeeeee !important;
    padding: 4px !important;
    border-bottom: 0px !important;
}
#modal-login .modal-content .btnOrange{
	background: #e04b31;
	color: white;
}

.margin-t-15{
	margin-top: 15px;
}

.margin-t-10{
	margin-top: 10px;
}

.margin-t-7{
	margin-top: 7px;
}


#containerRating img{
	width: 24px;
	height: 24px;
}

#container-services .style-label-tab{
	color: #3a383b !important;
	font-family: "GothamRnd-Medium" !important;
	font-size: 1.25em !important;
}

#container-services .style-label-tab li.active a{
	color: #da481f !important;
}

#container-services .style-label-tab li a {
    text-decoration: none !important;
    color: #3a383b !important;
}

#container-services .style-text-tab{
	color: #333333 !important;
	font-family: "Varela_Round_Regular" !important;
	font-size: 14px !important;
}

.containerVehicleSelect{
	background: #eeeeee;
    border: 1px solid #4e4c4e;
    border-radius: 20%;
    padding: 20px;
    height: 112px;
    width: 155px;
    font-weight: bold;
    color: #de5a38;
}

#containerVehicleVan, #containerVehicleWhite, #containerVehicleElectric{
	padding: 20px;
    height: 110px;
    width: 137px;
    cursor: pointer;
}


#containerVehicleVan:hover, #containerVehicleWhite:hover, #containerVehicleElectric:hover{
	background: #f8f8f8;
    border: 1px solid #d2d1d2;
    border-radius: 20%;
    padding: 20px;
}

#viewOpenModalBond{
	text-decoration: underline;
	font-size: 1.2em;
}

#viewOpenModalBond:hover{
	font-weight: bold;
	text-decoration: underline;
}

.container-values{
	margin-top: 114px;
    margin-bottom: 37px;
}

#viewPayCredit {
	display: none;
}
