<div id="container-security-policies">
	<div class="container">
		<figure id="logo">
			<img src="./assets/img/logo.png" alt="UBeep">
		</figure>
		<p class="text-center">
			<label>Política de Seguridad y Tratamiento de Datos<br>UNEXT SAS</label>
		</p>

		<div class="container-policy">
			<p>
			En cumplimiento a lo dispuesto en la Ley estatutaria 1581 de 2012 y a su Decreto Reglamentario 1377 de 2013, UNEXT S.A.S (en adelante “Ubeep”) informa la política de seguridad y tratamiento de datos (en adelante la <b>“Política”</b>) 
			</p>
		</div>

		<div class="container-policy">
			<label>
				1. Identificación
			</label>
			<br>
			<p>
				Nombre: Unext S.A.S sociedad comercial válidamente constituida bajo las leyes de Colombia e identificada con número de identificación tributaria No. 901003017-7
				<br>
				Domicilio: Bogotá
				<br>
				Dirección: Carrera 85a No. 52a-42, Bogotá D.C.
				<br>
				Teléfono: (+57 1) 4786962
				<br>
				Correo Electrónico: servicioalcliente@ubeep.co
			</p>
		</div>

		<div class="container-policy">
			<label>
				2. Marco Legal
			</label>
			<br>
			<p>
				Constitución Política, artículo 15.
				<br>
				Ley 1266 de 2008
				<br>
				Ley 1581 de 2012
				<br>
				Decretos Reglamentarios 1727 de 2009 y 2952 de 2010,
				<br>
				Decreto Reglamentario parcial 1377 de 2013
			</p>
		</div>

		<div class="container-policy">
			<label>
				3. Definiciones
			</label>
			<br>
			<p>
				<label>AUTORIZACIÓN:</label> Consentimiento previo, expreso e informado del titular para llevar a cabo el tratamiento de datos personales.
			</p>
			<p>
				<label>AVISO DE PRIVACIDAD:</label> Comunicación verbal o escrita generada por el responsable dirigida al titular para el tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de las políticas de tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las finalidades del tratamiento que se pretende dar a los datos personales.
			</p>
			<p>
				<label>BASE DE DATOS:</label> Conjunto organizado de datos personales que sea objeto de tratamiento.
			</p>
			<p>
				<label>CAUSAHABIENTE:</label> Persona que ha sucedido a otra por causa del fallecimiento de ésta (heredero).
			</p>
			<p>
				<label>DATO PERSONAL:</label> Cualquier pieza de información vinculada a una o varias personas determinadas o determinables o que puedan asociarse a una persona natural o jurídica.
			</p>
			<p>
				<label>DATO PÚBLICO:</label> Es el dato que no sea semiprivado, privado o sensible. Son considerados datos públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión u oficio y a su calidad de comerciante o de servidor público. Por su naturaleza, los datos públicos pueden estar contenidos, entre otros, en registros públicos, documentos públicos, gacetas y boletines oficiales y sentencias judiciales debidamente ejecutoriadas que no estén sometidas a reserva.
			</p>
			<p>
				<label>DATOS SENSIBLES:</label> Se entiende por datos sensibles aquellos que afectan la intimidad del titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida sexual, y los datos biométricos.
			</p>
			<p>
				<label>DATOS INDISPENSABLES:</label> Se entienden como aquellos datos personales de los titulares imprescindibles para llevar a cabo la actividad de Ubeep. Los datos de naturaleza indispensable deberán ser proporcionados por los titulares de los mismos o los legitimados para el ejercicio de estos derechos.
			</p>
			<p>
				<label>DATOS OPCIONALES:</label> Son aquellos datos que UBeep  requiere para ofrecer servicios adicionales.
			</p>
			<p>
				<label>ENCARGADO DEL TRATAMIENTO:</label> Persona natural o jurídica, pública o privada que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento.
			</p>
			<p>
				<label>LEY DE PROTECCIÓN DE DATOS:</label> Es la Ley 1581 de 2012 y sus Decretos reglamentarios o las normas que los modifiquen, complementen o sustituyan.
			</p>
			<p>
				<label>HABEAS DATA:</label> Derecho de cualquier persona a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en el banco de datos y en archivos de entidades públicas y privadas.
			</p>
			<p>
				<label>REUbeep ONSABLE DEL TRATAMIENTO:</label> Persona natural o jurídica, pública o privada que por sí misma o en asocio con otros, decida sobre la base de datos y/o Tratamiento de los datos.
			</p>
			<p>
				<label>TITULAR:</label> Persona natural cuyos datos personales sean objeto de Tratamiento.
			</p>
			<p>
				<label>TRATAMIENTO:</label> Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.
			</p>
			<p>
				<label>TRANSFERENCIA:</label> La transferencia de datos tiene lugar cuando el responsable y/o encargado del tratamiento de datos personales, ubicado en Colombia, envía la información o los datos personales a un receptor, que a su vez es responsable del tratamiento y se encuentra dentro o fuera del país.
			</p>
			<p>
				<label>TRANSMISIÓN:</label> Tratamiento de datos personales que implica la comunicación de los mismos dentro o fuera del territorio de la República de Colombia cuando tenga por objeto la realización de un tratamiento por el encargado por cuenta del responsable.
			</p>
		</div>

		<div class="container-policy">
			<label>
				4. Principios
			</label>
			<br>
			<p>
				<label>a) Principio de legalidad en materia de Tratamiento de datos:</label> El Tratamiento a que se refiere la Política es una actividad reglada que debe sujetarse a lo establecido en la ley y en las demás disposiciones que la desarrollen:
			</p>
			<p>
				<label>b) Principio de finalidad:</label> El Tratamiento debe obedecer a una finalidad legítima de acuerdo con la Constitución y la Ley, la cual debe ser informada al Titular;
			</p>
			<p>
				<label>c) Principio de libertad:</label> El Tratamiento sólo puede ejercerse con el consentimiento, previo, expreso e informado del Titular. Los datos personales no podrán ser obtenidos o divulgados sin previa autorización, o en ausencia de mandato legal o judicial que releve el consentimiento;
			</p>
			<p>
				<label>d) Principio de veracidad o calidad:</label> La información sujeta a Tratamiento debe ser veraz, completa, exacta, actualizada, comprobable y comprensible. Se prohíbe el Tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error;
			</p>
			<p>
				<label>e) Principio de transparencia:</label> En el Tratamiento debe garantizarse el derecho del Titular a obtener del Responsable del Tratamiento o del Encargado del Tratamiento, en cualquier momento y sin restricciones, información acerca de la existencia de datos que le concierne;
			</p>
			<p>
				<label>f) Principio de acceso y circulación restringida:</label> El Tratamiento se sujeta a los límites que se derivan de la naturaleza de los datos personales, de las disposiciones de la ley y la Constitución. En este sentido, el Tratamiento sólo podrá hacerse por personas autorizadas por el Titular y/o por las personas previstas en la ley; Los datos personales, salvo la información pública, no podrán estar disponibles en Internet u otros medios de divulgación o comunicación masiva, salvo que el acceso sea técnicamente controlable para brindar un conocimiento restringido sólo a los Titulares o terceros autorizados conforme a la ley;
			</p>
			<p>
				<label>g) Principio de seguridad:</label> La información sujeta a Tratamiento por el Responsable del Tratamiento o Encargado del Tratamiento a que se refiere la presente ley, se deberá manejar con las medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento;
			</p>
			<p>
				<label>h) Principio de confidencialidad:</label> Todas las personas que intervengan en el Tratamiento de datos personales que no tengan la naturaleza de públicos están obligadas a garantizar la reserva de la información, inclusive después de finalizada su relación con alguna de las labores que comprende el Tratamiento, pudiendo sólo realizar suministro o comunicación de datos personales cuando ello corresponda al desarrollo de las actividades autorizadas en la ley y en los términos de la misma.
			</p>
		</div>

		<div class="container-policy">
			<label>
				5. Derechos que asisten al Titular 
			</label>
			<br>
			<p>
				El Titular de los datos personales tendrá los siguientes derechos:
			</p>
			<p>
				<label>a)</label> Conocer, actualizar y rectificar sus datos personales frente Ubeep. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado;
			</p>
			<p>
				<label>b)</label> Solicitar prueba de la autorización otorgada  a UBeep  salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de conformidad con lo previsto en el artículo 10 de la Ley de Protección de Datos;
			</p>
			<p>
				<label>c)</label> Ser informado por UBeep  previa solicitud, respecto del uso que le ha dado a sus datos personales;
			</p>
			<p>
				<label>d)</label> Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la ley y las demás normas que la modifiquen, adicionen o complementen;
			</p>
			<p>
				<label>e)</label> Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento, UBeep  ha incurrido en conductas contrarias a esta ley y a la Constitución;
			</p>
			<p>
				<label>f)</label> Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.
			</p>
		</div>

		<div class="container-policy">
			<label>
				6. Deberes de UBeep  en el Tratamiento de datos del titular
			</label>
			<br>
			<p>
				En virtud de la presente Política y la Ley de Protección de Datos son deberes de Ubeep,  los siguientes: 
			</p>
			<p>
				<label>a)</label> Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data;
			</p>
			<p>
				<label>b)</label> Solicitar y conservar, en las condiciones previstas en la presente ley, copia de la respectiva autorización otorgada por el Titular;
			</p>
			<p>
				<label>c)</label> Informar debidamente al Titular sobre la finalidad de la recolección y los derechos que le asisten por virtud de la autorización otorgada;
			</p>
			<p>
				<label>d)</label> Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento;
			</p>
			<p>
				<label>e)</label> Garantizar que la información que se suministre al Encargado del Tratamiento sea veraz, completa, exacta, actualizada, comprobable y comprensible;
			</p>
			<p>
				<label>f)</label> Actualizar la información, comunicando de forma oportuna al Encargado del Tratamiento, todas las novedades respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para que la información suministrada a este se mantenga actualizada;
			</p>
			<p>
				<label>g)</label> Rectificar la información cuando sea incorrecta y comunicar lo pertinente al Encargado del Tratamiento;
			</p>
			<p>
				<label>h)</label> Suministrar al Encargado del Tratamiento, según el caso, únicamente datos cuyo Tratamiento esté previamente autorizado de conformidad con lo previsto en la presente ley;
			</p>
			<p>
				<label>i)</label> Exigir al Encargado del Tratamiento en todo momento, el respeto a las condiciones de seguridad y privacidad de la información del Titular;
			</p>
			<p>
				<label>j)</label> Tramitar las consultas y reclamos formulados en los términos señalados en la presente ley;
			</p>
			<p>
				<label>k)</label> Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de la presente ley y en especial, para la atención de consultas y reclamos;
			</p>
			<p>
				<label>l)</label> Informar al Encargado del Tratamiento cuando determinada información se encuentra en discusión por parte del Titular, una vez se haya presentado la reclamación y no haya finalizado el trámite respectivo;
			</p>
			<p>
				<label>m)</label> Informar a solicitud del Titular sobre el uso dado a sus datos;
			</p>
			<p>
				<label>n)</label> Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad y existan riesgos en la administración de la información de los Titulares.
			</p>
			<p>
				<label>o)</label> Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio
			</p>
		</div>

		<div class="container-policy">
			<label>
				6.1  Deberes del Encargado del Tratamiento
			</label>
			<br>
			<p>
				<label>a)</label> Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data;
			</p>
			<p>
				<label>b)</label> Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento;
			</p>
			<p>
				<label>c)</label> Realizar oportunamente la actualización, rectificación o supresión de los datos en los términos de la Política y la ley;
			</p>
			<p>
				<label>d)</label> Actualizar la información reportada por los Responsables del Tratamiento dentro de los cinco (5) días hábiles contados a partir de su recibo;
			</p>
			<p>
				<label>e)</label> Tramitar las consultas y los reclamos formulados por los Titulares en los términos señalados en la ley;
			</p>
			<p>
				<label>f)</label> Registrar en la base de datos las leyenda "reclamo en trámite" en la forma en que se regula en la Política y en la ley;
			</p>
			<p>
				<label>g)</label> Insertar en la base de datos la leyenda "información en discusión judicial" una vez notificado por parte de la autoridad competente sobre procesos judiciales relacionados con la calidad del dato personal;
			</p>
			<p>
				<label>h)</label> Abstenerse de circular información que esté siendo controvertida por el Titular y cuyo bloqueo haya sido ordenado por la Superintendencia de Industria y Comercio;
			</p>
			<p>
				<label>i)</label> Permitir el acceso a la información únicamente a las personas que pueden tener acceso a ella;
			</p>
			<p>
				<label>j)</label> Informar a la Superintendencia de Industria y Comercio cuando se presenten violaciones a los códigos de seguridad y existan riesgos en la administración de la información de los Titulares;
			</p>
			<p>
				<label>k)</label> Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.
			</p>
		</div>

		<div class="container-policy">
			<label>
				7. Registro Nacional de Bases de Datos
			</label>
			<br>
			<p>
				El Registro Nacional de Bases de Datos (RNBD), es el directorio público de las bases de datos sujetas a Tratamiento que operan en el país y será administrado por la Superintendencia de Industria y Comercio y será de libre consulta para los ciudadanos.
			</p>
			<p>
				UBeep  informa a los Titulares que en su deber legal aportá a la Superintendencia de Industria y Comercio las bases de datos sujetas a tratamiento.
			</p>
		</div>

		<div class="container-policy">
			<label>
				8. Autorizaciones y Consentimiento del Titular
			</label>
			<br>
			<p>
				Sin perjuicio de las excepciones previstas en la ley, en el Tratamiento se requiere la autorización previa e informada del Titular, la cual deberá ser obtenida por cualquier medio que pueda ser objeto de consulta posterior.
			</p>
		</div>

		<div class="container-policy">
			<label>
				9. Medio y Manifestación para Otorgar la Autorización del Titular para el Tratamiento de sus Datos
			</label>
			<br>
			<p>
				UBeep  generó en los términos de la ley un Aviso de Privacidad bajo el cual el Titular expresa su Autorización para el tratamientos de sus datos de acuerdo en lo contenido en la Política y la ley. De igual manera el Aviso de Privacidad informa al Titular que para ejercer su derecho de tratamiento de datos personales este podrá acceder a la página web de UBeep  www.ubeep.co  o enviar un correo a servicioalcliente@ubeep.co  solicitando el ejercicio de los derechos contenidos en la presente Política y/o en la ley.
			</p>
		</div>

		<div class="container-policy">
			<label>
				10. Eventos en los cuales no es necesaria la Autorizaciòn del Titular de los Datos Personales
			</label>
			<br>
			<p>
				La autorización del Titular no será necesaria cuando se trate de:
			</p>
			<p>
				<label>a)</label> Información requerida por una entidad pública o administrativa en ejercicio de sus funciones legales o por orden judicial;
			</p>
			<p>
				<label>b)</label> Datos de naturaleza pública;
			</p>
			<p>
				<label>c)</label> Casos de urgencia médica o sanitaria;
			</p>
			<p>
				<label>d)</label> Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos;
			</p>
			<p>
				<label>e)</label> Datos relacionados con el Registro Civil de las Personas
			</p>
		</div>

		<div class="container-policy">
			<label>
				11. Legitimación para el ejercicio del derecho del Titular
			</label>
			<br>
			<p>
				Los derechos de los titulares establecidos en la Ley podrán ejercerse por las siguientes personas:
			</p>
			<p>
				<label>a)</label> Por el titular, quien deberá acreditar su identidad en forma suficiente por los distintos medios que le ponga a disposición Ubeep
			</p>
			<p>
				<label>b)</label> Por los causahabientes del titular, quienes deberán acreditar tal calidad.
			</p>
			<p>
				<label>c)</label> Por el representante y/o apoderado del titular, previa acreditación de la representación o apoderamiento.
			</p>
			<p>
				<label>d)</label> Por estipulación a favor de otro o para otro.
			</p>
		</div>

		<div class="container-policy">
			<label>
				12. Tratamiento al cual serán sometidos los Datos y Finalidad del mismo.
			</label>
			<br>
			<p>
				<label>a)</label> La principal finalidad del Tratamiento de los datos del Titular es proporcionar una experiencia segura, eficiente, personalizada y eficaz, de los servicios de UBeep  al Titular.
			</p>
			<p>
				<label>b)</label> UBeep  recauda la información personal del Titular, o delega a proveedores de servicios la función de recopilar y usar dichos datos en nombre de Ubeep,  atendiendo para ello lo establecido en esta Política y la ley según esté permitido o sea necesario para
			</p>
			<div>
				<p>
					<label>b.1)</label> Procesar las transacciones y enviar notificaciones a los portales de comercio que se integran son Ubeep,  a las instituciones que validan y procesan las transacciones y a los pagadores. Para el procesamiento de las transacciones UBeep  podrá validar y compartir la información personal del Titular con terceros, tales como instituciones financieras emisoras de los medios de pago, franquicias de adquirencia como Visa y MasterCard, entre otras. <br> Aceptando esta Política de Privacidad, el Titular autoriza a compartir su información personal con tales instituciones.
				</p>
				<p>
					<label>b.2)</label> Utilizar los datos del Titular en los filtros internos o provistos por terceros a Ubeep, a fin de validar las transacciones y mitigar el riesgo de suplantación de identidad de los tarjetahabientes.
				</p>
				<p>
					<label>b.3)</label> Brindarle al Titular un servicio de asistencia y solución de problemas.
				</p>
				<p>
					<label>b.4)</label> Prevenir que el sistema de UBeep  sea utilizado para realizar actividades ilegales y con el fin de hacer cumplir los Términos y Condiciones Generales de uso del sistema de Ubeep.
				</p>
				<p>
					<label>b.5)</label> Personalizar, medir y mejorar los servicios prestados por Ubeep,  las páginas web y accesos a los servicios de Ubeep.
				</p>
				<p>
					<label>b.6)</label> Comparar información para verificar su precisión.
				</p>
				<p>
					<label>b.7)</label> Informar al Titular sobre fallos y actualizaciones de los servicios.
				</p>
				<p>
					<label>b.8)</label> Verificar la identidad del Titular.
				</p>
				<p>
					<label>b.9)</label> Contactar o enviar notificaciones al Titular en caso de ser necesario por las vías de comunicación que autorice el Titular.
				</p>
				<p>
					<label>b.10)</label> Resolver disputas.
				</p>
				<p>
					<label>b.11)</label> Facturar el uso de los servicios Ubeep.
				</p>
				<p>
					<label>b.12)</label> Usar la información personal del Titular para fines internos, como auditorías, análisis de datos e investigaciones para mejorar los productos, servicios y comunicaciones con los usuarios de los servicios de Ubeep.
				</p>
				<p>
					<label>b.13)</label> Llevar a cabo el Tratamiento de los datos personales del Titular en los servidores de Ubeep,  en servidores nacionales e internacionales asegurando siempre que esos países tengan niveles de protección de datos personales acordes a los establecidos en esta Política y en la ley. UBeep  se reserva el derecho de transferir la información personal del Titular fuera del país de su residencia y domicilio, asegurando siempre que esos países tengan niveles de protección de datos personales acordes a los establecidos en esta Política de Privacidad y a la legislación aplicable y siempre que dicha transferencia se realice para cumplir con la prestación de nuestros Servicios o se dé en desarrollo de alguna de las finalidades establecidas en esta Política. Al usar los servicios Ubeep,  El Titular autoriza dicha transferencia.
				</p>
				<p>
					<label>b.14)</label> Almacenar los datos personales del Titular por el tiempo que sea requerido para el cumplimiento de los fines para los que fueron recolectados y conforme a las leyes comerciales o de privacidad y protección de la información.
				</p>
				<p>
					<label>b.15)</label> Si el Titular es un pagador este tendrá a su disposición, para cuando lo requiera los pagos realizados, la información relacionada con sus equipos electrónicos, así como de su medios de pago, tales como números de tarjetas, códigos de seguridad, siempre y cuando decida hacer uso de las funcionalidades de almacenamiento de datos o similares. Los datos de tarjetas de crédito serán guardados por Ubeep,  teniendo en cuenta los estándares de seguridad y protección de la información establecidos por la normatividad de aplicable.
				</p>
				<p>
					<label>b.16)</label> Solicitar la opinión del Titular o su participación en encuestas electrónicas. 
				</p>
				<p>
					<label>b.17)</label> Enviar al Titular comunicaciones e información comercial y publicitaria de las compañías UBeep  de sus comercios registrados en UBeep  y de terceros que incluyan promociones para la compra de bienes o servicios a través de Ubeep.
				</p>
				<p>
					<label>b.18)</label> Organizar y llevar a cabo concursos, juegos, ofertas u operaciones de promoción o marketing, y eventos similares de UBeep  y/o los comercios vinculados o no a Ubeep.
				</p>
				<p>
					<label>b.19)</label> Enviar al Titular cupones de descuento u otorgar beneficios para futuras compras a través de Ubeep.
				</p>
				<p>
					<label>b.20)</label> Proponer la afiliación del Titular a programas de lealtad, crear perfiles de consumo de usuarios, y enviarle materiales promocionales y publicitarios que puedan llegar a ser de su interés.
				</p>
			</div>
			<p>
				<label>c)</label> UBeep  solicitará al Titular su consentimiento antes de utilizar tus datos personales, para cualquier fin distinto de los establecidos en su Política.
			</p>
			<p>
				<label>d)</label> UBeep  recopilará los datos personales del Titular en sus correspondientes bases de datos o bancos de datos personales y les dará el tratamiento establecido en esta Política. Cuando quiera que la ley lo exija, dichas bases de datos o bancos de datos serán registradas ante las autoridades competentes.
			</p>
		</div>

		<div class="container-policy">
			<label>
				13. Personas a quienes se les puede suministrar la información tratada
			</label>
			<br>
			<p>
				La información que reúna las condiciones establecidas en la ley podrá suministrarse a las siguientes personas:
			</p>
			<p>
				<label>a)</label> A los titulares, sus causahabientes (cuando aquellos falten) o sus representantes legales.
			</p>
			<p>
				<label>b)</label> A las entidades públicas o administrativas en ejercicio de sus funciones legales o por orden judicial.
			</p>
			<p>
				<label>c)</label> A los terceros autorizados por el titular o por la ley.
			</p>
		</div>

		<div class="container-policy">
			<label>
				14. Persona o dirección responsable de la atención de peticiones, consultas y reclamos
			</label>
			<br>
			<p>
				UBeep  ha designado a la dirección de atención al usuario como el ente encargado de recibir peticiones, consultas y reclamos, y de darle su correcto direccionamiento y solución.
			</p>
			<p>
				<label>a) Consultas</label> 
			</p>
			<p>
				Los Titulares o sus causahabientes podrán consultar la información personal del Titular que repose en las bases de UBeep  quien suministrará toda la información contenida en el registro individual o que esté vinculada con la identificación del Titular. La consulta se formulará a través del correo servicioalcliente@ubeep.co . La consulta será atendida en un término máximo de diez (10) días hábiles contados a partir de la fecha de recibo de la misma. Cuando no fuere posible atender la consulta dentro de dicho término, se informará al interesado, expresando los motivos de la demora y señalando la fecha en que se atenderá su consulta, la cual en ningún caso podrá superar los cinco (5) días hábiles siguientes al vencimiento del primer término.
			</p>
			<p>
				<label>b) Reclamos</label> 
			</p>
			<div>
				El Titular o sus causahabientes que consideren que la información contenida en una base de datos debe ser objeto de corrección, actualización o supresión, o cuando adviertan el presunto incumplimiento de cualquiera de los deberes contenidos en la ley, podrán presentar un reclamo ante UBeep  el cual será tramitado bajo las siguientes reglas:
				<div>
					<p>
						<label>1. </label> El reclamo del Titular se formulará mediante solicitud dirigida a UBeep  por el correo electrónico servicioalcliente@ubeep.co  con la identificación del Titular, la descripción de los hechos que dan lugar al reclamo, la dirección, y acompañando los documentos que se quiera hacer valer. Si el reclamo resulta incompleto, se requerirá al interesado dentro de los cinco (5) días siguientes a la recepción del reclamo para que subsane las fallas. Transcurridos dos (2) meses desde la fecha del requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido del reclamo. En caso de que quien reciba el reclamo no sea competente para resolverlo, dará traslado a quien corresponda en un término máximo de dos (2) días hábiles e informará de la situación al interesado.
					</p>
					<p>
						<label>2. </label> Una vez recibido el correo servicioalcliente@ubeep.co  con el reclamo completo, éste se catalogará con la etiqueta "reclamo en trámite" y el motivo del mismo en un término no mayor a dos (2) días hábiles. Dicha etiqueta se mantendrá hasta que el reclamo sea decidido.
					</p>
					<p>
						<label>3. </label> El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término.
					</p>
				</div>
			</div>
			<p>
				<label>c) Petición de actualización, rectificación y supresión de datos</label> 
			</p>
			<p>
				UBeep  rectificará y actualizará, a solicitud del Titular, la información de éste que resulte ser incompleta o inexacta, de conformidad con el procedimiento y los términos antes señalados, para lo cual el titular allegará la solicitud al correo electrónico servicioalcliente@ubeep.co indicando la actualización, rectificación y supresión del dato y aportará la documentación que soporte su petición.
			</p>
			<p>
				<label>d) Revocatoria de la autorización y/o supresión de los datos</label> 
			</p>
			<p>
				Los titulares de los datos personales pueden revocar el consentimiento al tratamiento de sus datos personales en cualquier momento, siempre y cuando no lo impida una disposición legal o contractual, para ello UBeep  pondrá a disposición del Titular el correo electrónico servicioalcliente@ubeep.com. Si vencido el término legal respectivo, Ubeep,  según fuera el caso, no hubieran eliminado los datos personales, el Titular tendrá derecho a solicitar a la Superintendencia de Industria y Comercio que ordene la revocatoria de la autorización y/o la supresión de los datos personales. Para estos efectos se aplicará el procedimiento descrito en el artículo 22 de la Ley 1581 de 2012.
			</p>
		</div>

		<div class="container-policy">
			<label>
				15. Transferencia y Transmisión Internacional de Datos Personales
			</label>
			<br>
			<p>
				UBeep  en cumplimiento de la finalidad dispuesta en la presente Política para el tratamiento de datos de los Titulares podrá realizar la transferencia internacionales de datos personales de los titulares.
			</p>
			<p>
				UBeep tomará las medidas necesarias para que los terceros conozcan y se comprometan a observar esta Política, bajo el entendido que la información personal que reciban, únicamente podrá ser utilizada para asuntos  y finalidades directamente relacionados con Ubeep.
			</p>
			<p>
				Para la transferencia internacional de datos personales se observará lo previsto en el artículo 26 de la Ley 1581 de 2012.
			</p>
			<p>
				Las transmisiones internacionales de datos personales que efectúe la Ubeep,  no requerirán ser informadas al Titular ni contar con su consentimiento cuando medie un contrato de transmisión de datos personales de conformidad al artículo 25 del Decreto 1377 de 2013.
			</p>
			<p>
				Con la aceptación de la presente política, el Titular autoriza expresamente para transferir y transmitir su Información Personal.
			</p>
			<p>
				La información será transferida y transmitida, para todas las relaciones que puedan establecerse con Ubeep. 
			</p>
		</div>

	</div>
</div>