#containerProfile{
	margin-top: 132px;
	padding-bottom: 140px;
	padding-top: 44px;
}

#containerProfile .container-picture{
	text-align: center;
}

#containerProfile #container-img-profile{
	width: 184px;
    height: 184px;
    display: inline-block;
}

#containerProfile #container-img-profile img{
	width: 100%;
	height: 100%;
}

#containerProfile .container-form{
	border-left: 1px solid #f1b0a8;
	padding-left: 26px;
}

.btn-contact{
	background-repeat: no-repeat;
	background-color: #e45d2f !important;
	background-size: 100% 100%;
	color: #FFFFFF;
}

.container-title{
	margin-bottom: 40px;
}

.container-buttons{
	margin-top: 50px;
}