<div id="containerProfile" class="container">
	<div class="col-sm-12">
		<div class="row">
			<form #formProfile="ngForm">
				<div class="row container-title">
					<div class="col-sm-4 text-right">
						<div class="row text-1-8em">
							Configurar datos de tu perfil
						</div>
					</div>
				</div>
				<div class="col-sm-4 container-picture">
					<figure id="container-img-profile">
						<img src="./assets/img/pic.png" alt="..." class="img-circle">
					</figure>
					<p>
						<span>
							<!--Foto de perfil-->
						</span>
					</p>
					<p>
						<!--<a href="">
							<span>
								Cambiar foto de perfil
							</span>
						</a>-->
					</p>
				</div>
				<div class="col-sm-8">
					<input type="hidden" name="client_id" id="client_id" class="form-control" placeholder="" required [(ngModel)]="dataProfile.client_id" ngControl="client_id">
					<div class="container-form">
						<div class="form-group" style="overflow: hidden;">
							<label class="col-sm-12" for="name">Nombre de usuario</label>
							<div class="col-sm-12 row">
								<input type="text" name="name" id="name" class="form-control" placeholder="" required [(ngModel)]="dataProfile.name" ngControl="name">
							</div>
						</div>
						<div class="form-group" style="overflow: hidden;">
							<label class="col-sm-12" for="identify">Cédula de ciudadania</label>
							<div class="col-sm-12 row">
								<input type="text" name="identify" id="identify" class="form-control" placeholder="" required [(ngModel)]="dataProfile.identify" ngControl="identify">
							</div>
						</div>
						<div class="form-group" style="overflow: hidden;">
							<label class="col-sm-12" for="email">Correo electrónico</label>
							<div class="col-sm-12 row">
								<input type="text" name="email" id="email" class="form-control" placeholder="" required [(ngModel)]="dataProfile.email" ngControl="email" readonly>
							</div>
						</div>
						<div class="form-group" style="overflow: hidden;">
							<label class="col-sm-12" for="movil_phone">Celular</label>
							<div class="col-sm-12 row">
								<input type="text" name="movil_phone" id="movil_phone" class="form-control" placeholder="" required [(ngModel)]="dataProfile.movil_phone" ngControl="movil_phone">
							</div>
						</div>
					</div>

					<div class="col-sm-12 text-right row container-buttons">
						<p class="font-bold">
							{{responseMessage}}
						</p>
						<!--<button type<="button" class="btn" style="background-color:#3a383b;color:white;" [disabled]="loadingProcess">
							<span >Cancelar</span>
						</button>-->
						<button type="button" (click)="submitProfile(formProfile)" class="btn btn-contact" [disabled]="loadingProcess">
							<i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
							<span *ngIf="!loadingProcess">Guardar cambios</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>