<div id="container-privacy-policy">
	<div class="container">
		<figure id="logo">
			<img src="./assets/img/logo.png" alt="UBeep">
		</figure>
		<p class="text-center">
			<label>Términos y Condiciones del uso de Ubeep</label>
		</p>

		<div class="container-policy">
			<label>
				1. Objeto de la Relación Contractual
			</label>
			<br>
			<p>
				Los presentes términos y condiciones de uso (en adelante “Términos”) regulan los términos y condiciones de acceso y uso de aplicaciones, páginas web, contenido, productos y servicios (los “Servicios”)  provistos por Unext SAS (en adelante “Unext”) y su marca comercial ubeep (en adelante “Ubeep o Aplicación”) para usted (en adelante “Usuario”). Unext es una sociedad comercial válidamente constituida bajo las leyes de colombia identificada con número de identificación tributaria No. 901003017-7 con domicilio en la ciudad de Bogotá e inscrita en la Cámara de Comercio de Bogotá. Al acceder a la Aplicación y usar los Servicios de Ubeep usted expresa su consentimiento inequívoco de aceptar los Términos y reconoce haberlos leído en su totalidad. De no aceptar los Términos aca contenidos usted no podrá acceder a la Aplicación o a los Servicios. Estos Términos sustituyen cualquier acuerdo previo que haya existido entre usted y Ubeep. Ubeep podrá sustituir, modificar, eliminar o adicionar parcial o totalmente los Términos cuando lo considere conveniente. Para el evento anterior Ubeep lo notificará  a través de un medio idóneo para que usted acepte los nuevos Términos. Usted siempre podrá verificar los Términos de uso de Ubeep a accediendo a ubeep.com/legal. Ubeep se reserva el derecho de dejar de operar la Aplicación y/o dejar de ofrecer los Servicios en cualquier momento sin mediar notificación alguna.
			</p>
		</div>

		<div class="container-policy">
			<label>
				2. Servicios
			</label>
			<br>
			<p>
				Los Servicios son el conjunto de soluciones tecnológicas (Aplicaciones móviles, páginas web, productos, y servicios) que Ubeep pone a su disposición que le permiten realizar comunicación con empresas transportadoras, conductores, empresas logísticas y personas naturales o jurídicas (TERCEROS TRANSPORTISTAS) para realizar reservas y/o organizar transporte de pasajeros y/o cosas.
			</p>
			<p>
				En ningún caso Ubeep debe considerarse como una empresa que ofrece servicios de transporte y/o logística. Por lo tanto la responsabilidad por el servicio de transporte es única y exclusivamente del  tercero transportador, empresa transportista y/o de logística. Aceptando los Términos usted entiende y acepta que que los Servicios que ofrece Ubeep son única y exclusivamente de comunicación entre terceros transportistas, empresas transportistas y/o de logística y usted, por lo que mantendrá indemne a Ubeep de cualquier perjuicio o daño que se le cause por el servicio de transporte prestado.
			</p>
			<p>
				Bajo el estricto cumplimiento de los Términos, Ubeep le otorga una licencia restringida, no exclusiva, no cedible, no sublicenciable, revocable, no transferible, no comercial para:  el acceso y uso exclusivo desde su dispositivo personal a los Servicios y de los Contenidos dispuestos para usted a través de los medios autorizados por Ubeep.
			</p>
			<p>
				Aceptando los Términos usted declara que cuenta con la edad suficiente para poder acceder a los Servicios provistos por Ubeep.
			</p>
		</div>

		<div class="container-policy">
			<label>
				3. Política de seguridad y tratamiento de datos personales
			</label>
			<br>
			<p>
				Los datos recolectados por Ubeep a través de los medios autorizados serán tratados conforme a la ley y a la política de seguridad y tratamiento de datos la cual podra ser consultada pos usted en ubeep.com/legal
			</p>
		</div>

		<div class="container-policy">
			<label>
				4. Acceso y uso de los Servicios
			</label>
			<br>
			<p>
				Para poder acceder a los Servicios usted deberá descargar correctamente en su dispositivo personal la Aplicación solo y únicamente en tiendas virtuales autorizadas. La descarga de la Aplicación no tiene ningún costo. 
			</p>
			<p>
				Una vez descargada la Aplicación usted deberá suministrar con total veracidad la información personal requerida en el formulario de registro. Dicha información será tratada conforme a la política de seguridad y tratamiento de datos y la ley aplicable. 
			</p>
			<p>
				El Usuario deberá mantener la información suministrada actualizada so pena de la imposibilidad del uso de los Servicios. 
			</p>
			<p>
				El Usuario se compromete a usar los Servicios siempre con fines legítimos y legales; actuar de buena fe; no acceder a funciones no autorizadas de la Aplicación; no acceder o manipular datos registrados por otros Usuarios en la Aplicación y en general no realizar ningún tipo de conducta que resulte en el perjuicio o daño de un tercero o de Ubeep o en la infracción de una norma legal. 
			</p>
			<p>
				El Usuario no podrá transferir o permitir el uso de terceros de su cuenta. 
			</p>
			<p>
				El Usuario autoriza a Ubeep el envío de mensajes de texto y/o correos electrónicos con información de su cuenta o de los Servicios.
			</p>
			<p>
				El Usuario podrá acceder a su cuenta y disfrutar de los Servicios siempre y cuando suministre la contraseña que informo al momento del registro de su Usuario. El Usuario será en todo momento el único responsable de la custodia de la contraseña por lo que responderá por cualquier daño o perjuicio que cause por el extravío, cesión, o mala custodia de la contraseña.
			</p>
		</div>

		<div class="container-policy">
			<label>
				5. Pago y Medios de Pago
			</label>
			<br>
			<p>
				La contraprestación por el uso de los Servicios será definida e informada por Ubeep al usuario a través de los medios que Ubeep disponga. 
			</p>
			<p>
				Una vez recibidos los Servicios, Ubeep facturará al Usuario de acuerdo con la tarifa aplicable por el trayecto realizado desde un punto fijo a otro.
			</p>
			<p>
				Ubeep cobrará los cargos correspondientes al servicio prestado al medio de pago informado por el Usuario en el formulario de inscripción inicial. 
			</p>
			<p>
				Ubeep será considerado como un facilitador de pago al tercero transportista que le prestó el servicio y que fue contactado a través de la plataforma de Ubeep. 
			</p>
			<p>
				Los pagos pagados por usted no serán reembolsables a menos que Ubeep le retorne parte o todo el valor pagado por los servicios suministrados siempre y únicamente cuando Ubeep lo considere.  
			</p>
			<p>
				Ubeep podrá en cualquier momento modificar los cargos por los servicios ofrecidos, así mismo podrá modificar, eliminar o adicionar servicios a su plataforma.
			</p>
			<p>
				Ubeep en cualquier momento podrá disponer de Servicios promocionales a usuarios determinados o a la totalidad de ellos, a los cuales se les cobrará cargos promocionales. Estos servicios promocionales y cargos promocionales no podrán ser considerados por el Usuario como los servicios y cargos que normalmente presta y cobra Ubeep. 
			</p>
			<p>
				El Usuario podrá cancelar el servicio solicitado al tercero transportista en cualquier momento antes de que el tercer transportista llegue al destino informado. Ubeep podrá cobrar al Usuario una tarifa de cancelación. 
			</p>
			<p>
				El Usuario podrá en todo momento conocer las facturas generadas por los servicios que se le hayan prestado a través de la página web de ubeep (www.ubeep.co)
			</p>
		</div>

		<div class="container-policy">
			<label>
				6. Política de Seguridad y Tratamiento de Datos
			</label>
			<br>
			<p>
				Los datos de los usuarios serán tratados conforme a la Política de Seguridad y Tratamiento de Datos publicado en la página web de Ubeep (www.ubeep.co). Para ejercer los derechos contenidos en la Política de Seguridad y Tratamiento de Datos el Usuario podrá enviar un correo electrónico a servicioalcliente@ubeep.co
			</p>
		</div>

		<div class="container-policy">
			<label>
				7. Propiedad Industrial e Intelectual
			</label>
			<br>
			<p>
				El Usuario reconoce y acepta que toda la propiedad industrial e intelectual sobre los contenidos, Servicios, marcas, logos, software y cualesquiera que sean integrados a la plataforma de Ubeep o cualquier medio filial de Ubeep le pertenece exclusivamente a Ubeep. 
			</p>
		</div>

		<div class="container-policy">
			<label>
				8. Renuncia expresa a garantías, responsabilidad y compromiso de indemnidad 
			</label>
			<br>
			<p>
				Ubeep renuncia a cualquier tipo de garantía legal, comercial, de costumbre, expresa, implícita o de cualquier índole que no esté contenida en los presentes Términos hacia el Usuario o a los terceros transportistas. 
			</p>
			<p>
				Ubeep al ser una plataforma de comunicación entre terceros transportistas y usuarios que desean reservar, planificar, u organizar viajes no es responsable en ningún caso por la prestación del servicio de transporte prestado por los terceros transportistas. Usted acepta que Ubeep no será responsable en ningún caso y bajo ningún concepto de cualquier responsabilidad, daño o perjuicio que derive del servicio prestado por el tercero transportista hacia su integridad, propiedad, datos, o cualquier bien que le pertenezca.
			</p>
			<p>
				Ubeep realizará todas las acciones posibles para que sus derechos como consumidor no se vean violados y propenderá por ofrecer las herramientas necesarias para garantizar el mejor servicio de la plataforma de comunicación. 
			</p>
			<p>
				Usted acuerda mantener indemnes a Ubeep sus filiales, empleados, o cualquier persona natural o jurídica relacionada con Ubeep por cualquier reclamación, demanda, pérdida, responsabilidad y gasto que deriven del mal uso de los Servicios, la infracción de los Términos y de cualquier tipo de conducta que afecte o dañe a Ubeep. 
			</p>
		</div>

		<div class="container-policy">
			<label>
				9. Legislación aplicable
			</label>
			<br>
			<p>
				Cualquier conflicto o disputa que derive de la prestación de los Servicios por parte de Ubeep se deberá someter a la justicia ordinaria y se aplicarán las normas legales vigentes de la República de Colombia así como las costumbres comerciales debidamente certificadas. 
			</p>
		</div>

		<div class="container-policy">
			<label>
				10. Notificaciones
			</label>
			<br>
			<p>
				Usted autoriza para que Ubeep pueda enviarle notificaciones de los Servicios o de cualquier tema relacionado con UBeep al correo electrónico registrado en el formulario de registro, mediante un aviso en la aplicación dirigido a su cuenta personal, o a través de un mensaje de texto al número de celular que usted registro en el formulario de registro.
			</p>
		</div>

		<div class="container-policy">
			<label>
				11. Cesión
			</label>
			<br>
			<p>
				Usted no podrá ceder estos Términos, en parte o en totalidad ni podrá transferir su cuenta o ceder sus derechos que le conceden estos Términos por ningún motivo y bajo ninguna excepción.  
			</p>
		</div>

	</div>
</div>