#container-privacy-policy{
	margin-top: 132px;
    overflow: hidden;
    background: #f4f4f4;
    min-height: 300px;
}


#container-privacy-policy .container{
	background: #FFFFFF;
	padding: 50px;
}

#logo{
	text-align: center;
	padding-bottom: 40px;
}

.container-policy{
	text-align: justify;
	margin-bottom: 20px;
    margin-top: 10px;
    overflow: hidden;
}