<div id="container-history">
	
	<div *ngIf="!load && objHistory.length > 0" class="container ">

		<div class="col-xs-12 col-sm-4">
			<div class="row container-services">
				<div>
					<div *ngFor="let history of objHistory; let i = index" class="content-history padding-borders" [ngClass]="{selected: activeHistory==i}" (click)="getHistoryData(history.id, i)">
						<span class="container-arrow-right" *ngIf="activeHistory!=i">
							<img src="./assets/img/arrowRight.png" class="arrow-right" alt="Ver información">
						</span>
						<span class="container-arrow-right" *ngIf="activeHistory==i">
							<img src="./assets/img/arrowRightSelected.png" class="arrow-right" alt="">
						</span>
						<div class="col-sm-8 row">
							<label class="col-xs-12 col-sm-12">{{history.serviceName}}</label>
							<div class="col-xs-12 col-sm-12">
								{{history.date}}
							</div>
						</div>
						<div class="col-sm-4 row">
							<label class="col-xs-12 col-sm-12">&nbsp;</label>
							<div class="col-xs-12 col-sm-12">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-8">
			
			<div *ngIf="dataService.origin" class="row col-xs-12 col-sm-12">
				<div class="col-xs-12  col-sm-12m margin-bottom-25">
					<div class="row">
						<label class="col-xs-12 col-sm-6 text-1-25em">Detalles del servicio:</label>
						<label class="col-xs-12 col-sm-6 text-1-25em text-right">Crédito corporativo: ${{valueCredit}} COP</label>
					</div>
				</div>
				<div class="col-sm-6 border-right">
					<label class="col-xs-12 col-sm-12">
						<div class="container-circle">
							<div class="icon-circle-orange">
							</div>
						</div>
						Origen:
					</label>
					<div class="col-xs-12 col-sm-12">
						{{dataService.origin}}
					</div>
				</div>

				<div class="col-sm-6 padding-left-75">
					<label class="col-xs-12 col-sm-12">
						<div class="container-circle">
							<div class="icon-circle-black">
							</div>
						</div>
						Destino:
					</label>
					<div class="col-xs-12 col-sm-12">
						{{dataService.destination}}
					</div>
				</div>

				<div class="row">
					<figure class="col-xs-12 col-sm-12" id="containerPolyline">
						<img src="{{dataService.image}}" alt="">
					</figure>
				</div>

				<div class="col-xs-12 col-sm-12">
					<div class="col-sm-2 text-center">
						<figure id="containerImgDriver">
							<img src={{dataService.photo}}  id="img-driver" alt="Conductor">
						</figure>
					</div>
					<div class="col-sm-5">
						<div class="containerData">
							<label class="margin-bottom-25">{{dataService.employeeName}} {{dataService.employeeLast}}</label>
							<div class="">
								{{dataService.brand}} {{dataService.model}}
							</div>
							<div class="margin-bottom-60">
								{{dataService.plaque}}
							</div>
							<div class="">
								<label class="">Distancia: </label> {{dataService.distance}}
							</div>
							<div class="">
								<label class="">Duración: </label> {{dataService.time}}
							</div>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="row">
							<div class="col-sm-6">
								<label class="margin-bottom-25">CALIFICACION</label>
							</div>
							<div class="col-sm-6">
								<figure *ngIf="dataService.ratingImg==1" id="containerRating">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
								</figure>
								<figure *ngIf="dataService.ratingImg==2" id="containerRating">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
								</figure>
								<figure *ngIf="dataService.ratingImg==3" id="containerRating">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
								</figure>
								<figure *ngIf="dataService.ratingImg==4" id="containerRating">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
								</figure>
								<figure *ngIf="dataService.ratingImg==5" id="containerRating">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStarSelected.png" alt="">
									<img src="./assets/img/iconStarSelected.png" alt="">
								</figure>
								<figure *ngIf="!dataService.ratingImg==1 && !dataService.ratingImg==2 && !dataService.ratingImg==3 && !dataService.ratingImg==4 && !dataService.ratingImg==5" id="containerRating">
									<img src="./assets/img/iconStar.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
									<img src="./assets/img/iconStar.png" alt="">
								</figure>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-8 text-right">
								Valor del servicio:
							</div>
							<div class="col-xs-12 col-sm-4 text-right">
								<label class="">{{dataService.price}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-8 text-right">
								Propina: 
							</div>
							<div class="col-xs-12 col-sm-4 text-right">
								<label class="">{{dataService.tip}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-8 text-right">
								<label class="margin-bottom-40">Cobro total: </label>
							</div>
							<div class="col-xs-12 col-sm-4 text-right">
								<label class="">{{dataService.total}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-8 text-right">
								Tipo de pago:
							</div>
							<div class="col-xs-12 col-sm-4 text-right">
								<label class="">{{dataService.pay}}</label>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

	</div>

	<div *ngIf="load" class="container text-center" style="height: 800px; width: 100%;">
		<figure class="text-center">
			<img src="./assets/img/cargando.gif" alt="">
		</figure>
		<br>
		<br>
		<br>
		<br>
		<div class="text-center">
			<b>Cargando historial</b>
		</div>
	</div>

	<div *ngIf="!load && objHistory.length < 1" class="container text-center" style="height: 800px; width: 100%;">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="text-center">
			<figure class="text-center margin-bottom-25">
				<img src="./assets/img/empty.png" alt="Aún no has empezado a viajar con Beep">
			</figure>
			<span class="font-bold text-1-3em">
				Aún no has empezado a
				<br>
				viajar con Beep
			</span>
		</div>
	</div>
	
</div>