#container-contact-admin{
	margin-top: 132px;
    overflow: hidden;
	margin-bottom: 38px;
}

#container-contact-admin .title{
	margin-bottom: 60px;
	margin-top: 60px;
	font-size: 1.3em;
}


#container-contact-admin .form-group{
	overflow: hidden;
}

#container-contact-admin .form-group textarea {
    resize: none;
}

#container-contact-admin .container-button{
	margin-top: 80px;
	margin-bottom: 80px;
}

#container-contact-admin .container-button button{
	width: 160px;
}
