<div id="container-contact-admin">
	<div class="container">
		<div class="text-center title">
			<label>
				Contactar a administrador
			</label>
		</div>
		<div class="col-xs-12 col-sm-12">
			<form #formContact="ngForm">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required [(ngModel)]="dataContact.name" ngControl="name" (keyup)="changeValidateInput('name', formContact)">
							<div style="display: none" id="status1" class="text-danger">¡Campo requerido!</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<input type="text" name="lastname" id="lastname" class="form-control" placeholder="Apellido" required [(ngModel)]="dataContact.lastname" ngControl="lastname" (keyup)="changeValidateInput('lastname', formContact)">
							<div style="display: none" id="status2" class="text-danger">¡Campo requerido!</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<input type="text" name="email" id="email" class="form-control" placeholder="Correo electrónico" required [(ngModel)]="dataContact.email" ngControl="email" (keyup)="changeValidateInput('email', formContact)">
							<div style="display: none" id="status3" class="text-danger">¡Campo requerido!</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<input type="text" name="phone" id="phone" class="form-control" placeholder="Teléfono" required [(ngModel)]="dataContact.phone" ngControl="phone" (keyup)="changeValidateInput('phone', formContact)">
							<div style="display: none" id="status4" class="text-danger">¡Campo requerido!</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<textarea name="reason" id="reason" class="form-control" placeholder="Comentarios" required [(ngModel)]="dataContact.reason" ngControl="phone" rows="5" (keyup)="changeValidateInput('reason', formContact)"></textarea>
							<div style="display: none" id="status5" class="text-danger">¡Campo requerido!</div>
						</div>
					</div>
				</div>
				<div class="row text-center font-bold">
					{{responseMessage}}
				</div>
				<div class="row container-button text-center">
					<button type="button" (click)="submitEmailContact(formContact)" class="btn btn-orange" [disabled]="loadingProcess">
						<i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
						<span *ngIf="!loadingProcess" class="">Enviar</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>