#container-contact .container-img-drive, #container-contact .container-drive{
	width: 216px;
	height: 144px;
	text-align: center;
	display: inline-block;
}

#container-contact .container-drive div{
    background: #3a383b;
    padding: 12px;
}

#container-contact .container-drive div:hover{
	cursor: pointer;
	color: #E35021 !important;
	font-weight: bold;
	text-decoration: none;
}

#container-contact .container-text-img{
    color: #FFFFFF;
}

#container-contact .container-text-img:hover{
	text-decoration: none;
	color: #E35021 !important;
	font-weight: bold;
}

#container-contact .container-drive #img-vehicle{
	background-image: url('./../../assets/img/tengoUnVehiculo.png');
	background-size: 100% 100%;
}

#container-contact .container-drive #img-vehicles{
	background-image: url('./../../assets/img/tengoUnaFlotaDeVehiculos.png');
	background-size: 100% 100%;
}

#container-contact .container-drive #img-drive{
	background-image: url('./../../assets/img/soyConductor.png');
	background-size: 100% 100%;
}

#container-contact .container-drive #img-vehicle:hover{
	cursor: pointer;
	background-image: url('./../../assets/img/tengoUnVehiculoSelected.png');
}

#container-contact .container-drive #img-vehicle:active{
	cursor: pointer;
	background-image: url('./../../assets/img/tengoUnVehiculoSelected.png');
}

#container-contact .container-drive #img-vehicles:hover{
	cursor: pointer;
	background-image: url('./../../assets/img/tengoUnaFlotaDeVehiculosSelected.png');
}

#container-contact .container-drive #img-drive:hover{
	cursor: pointer;
	background-image: url('./../../assets/img/soyConductorSelected.png');
}

#container-contact .container-img-drive img{
	width: 100%;
	height: 100%;
}

#container-contact .container-imgs-driver{
	margin-bottom: 50px;
}
