	<carousel [interval]="myInterval" [noWrap]="noWrapSlides">
		<slide *ngFor="let slidez of slides; let index=index"[active]="slidez.active">
			<img [src]="slidez.image">
			<div class="carousel-caption container-middle">
				<div class="content-middle-left width-100 text-center" *ngIf="index == 0">
					<div class="text-5em text-shadow-black">
						La forma más sencilla
					</div>
					<div class="text-orange text-5em container-text-slider">
						DE VIAJAR POR LA CIUDAD
					</div>
					<a href="#container-download">
						<button class="btn bnt-lg" id="btn-scroll-download">
							Descargue nuestra App
						</button>
					</a>
				</div>
				<div class="content-middle-left text-left" *ngIf="index == 1">
					<div class="text-5em text-shadow-black">
						Un viaje seguro
					</div>
					<div class="text-orange text-5em text-shadow-black container-text-slider">
						UN DESTINO FELIZ
					</div>
					<button class="btn bnt-lg" (click)="clickBtnBanner('ingresar')">
						Ingrese con su cuenta
					</button>
				</div>
				<div  class="content-middle-left width-100 text-center" *ngIf="index == 2">
					<div class="text-5em text-shadow-black">
						Disfrute de nuestros beneficios
					</div>
					<div class="text-orange text-5em container-text-slider">
						¡ÚNASE A BEEP!
					</div>
					<button class="btn bnt-lg" (click)="clickBtnBanner('formularioContacto')">
						Conduzca con nosotros
					</button>
				</div>
			</div>
		</slide>
	</carousel>

	<div id="container-info" class="container">
		<div class="col-sm-12 col-md-12 container-middle">
			<div class="col-sm-7 content-middle-right">
				<div class="row">
					<span class="text-3em text-orange">Beep para todos</span>
					<br/>
					<p class="text-2em">Servicios a la medida de sus necesidades</p>
					<p class="text-1-25em font-gothamRnd-light font-3d3d3d font-bold">
						En Beep ofrecemos soluciones integrales para empresas y personas. Viajes diseñados para garantizar una experiencia única, segura y eficiente.
					</p>
				</div>
			</div>
			<div class="col-sm-5 text-center">
				<div class="row">
					<figure id="manInfo">
						<img src="./assets/img/ImagenInfo.png" alt="Man">
					</figure>
				</div>
			</div>
		</div>
	</div>

	<div id="container-contact">
		<div class="container">
			<div class="col-sm-12 col-md-12 container-middle">
				<div id="titile-contact" class="col-sm-6">
					<span class="text-2em">¿Quiere ser parte de BEEP?</span>
					<br/>
					<span class="text-3em">Conduzca con nosotros</span>
				</div>
				<div *ngIf="!formContactContainer" class="col-sm-6 text-center content-middle-right">
					<button type="button" class="btn btn-lg btn-contact" (click)="showFormContact('show')">CONTÁCTENOS</button>
				</div>
			</div>
			<div class="col-sm-2"></div>
			<div *ngIf="formContactContainer" id="container-form-contact" class="col-sm-8">
				<div class="row">
					<form #formContact="ngForm" class="form-horizontal">
						<div class="form-group">
							<!--<label for="contacto-enterar" class="col-sm-2 control-label">Como te enteraste</label>-->
							<div class="col-sm-12">
								<select class="form-control" name="type" id="type" required [(ngModel)]="dataContact.type" ngControl="type" (mouseup)="changeValidateInput('type', formContact)">
									<option value="">¿Cómo quiere unirse a nuestra compañía?</option>
									<option value="Tengo un vehículo">Tengo un vehículo</option>
									<option value="Tengo una flota de vehículos">Tengo una flota de vehículos</option>
									<option value="Soy conductor">Soy conductor</option>
								</select>
								<div style="display: none" id="status1" class="text-danger">¡Campo requerido!</div>
							</div>
						</div>
						<div class="form-group">
							<!--<label for="contacto-nombre" class="col-sm-2 control-label">Nombre</label>-->
							<div class="col-sm-12">
								<input type="text" name="name" id="name-contact" class="form-control" placeholder="Nombre" required [(ngModel)]="dataContact.name" ngControl="name" (keyup)="changeValidateInput('name', formContact)">
								<div style="display: none" id="status2" class="text-danger">¡Campo requerido!</div>
							</div>
						</div>
						<div class="form-group">
							<!--<label for="contacto-apellido" class="col-sm-2 control-label">Apellido</label>-->
							<div class="col-sm-12">
								<input type="text" name="lastname" id="lastname" class="form-control" placeholder="Apellido" required [(ngModel)]="dataContact.lastname" ngControl="lastname" (keyup)="changeValidateInput('lastname', formContact)">
								<div style="display: none" id="status3" class="text-danger">¡Campo requerido!</div>
							</div>
						</div>
						<div class="form-group">
							<!--<label for="contacto-telefono" class="col-sm-2 control-label">Teléfono</label>-->
							<div class="col-sm-12">
								<input type="text" name="phone" id="phone" class="form-control" placeholder="Teléfono" required [(ngModel)]="dataContact.phone" ngControl="phone" (keyup)="changeValidateInput('phone', formContact)">
								<div style="display: none" id="status4" class="text-danger">¡Campo requerido!</div>
							</div>
						</div>
						<div class="form-group">
							<!--<label for="contacto-ciudad" class="col-sm-2 control-label">Ciudad</label>-->
							<div class="col-sm-12">
								<input type="text" name="address" id="address" class="form-control" placeholder="Dirección" required [(ngModel)]="dataContact.address" ngControl="address" (keyup)="changeValidateInput('address', formContact)">
								<div style="display: none" id="status5" class="text-danger">¡Campo requerido!</div>
							</div>
						</div>
						<div class="form-group">
							<!--<label for="contacto-email" class="col-sm-2 control-label">Correo</label>-->
							<div class="col-sm-12">
								<input type="text" name="email" id="email" class="form-control" placeholder="Correo electrónico" required [(ngModel)]="dataContact.email" ngControl="email" (keyup)="changeValidateInput('email', formContact)">
								<div style="display: none" id="status6" class="text-danger">¡Campo requerido!</div>
							</div>
						</div>
						<div class="form-group">
							<!--<label for="contacto-enterar" class="col-sm-2 control-label">Como te enteraste</label>-->
							<div class="col-sm-12">
								<select class="form-control" name="reason" id="reason" required [(ngModel)]="dataContact.reason" ngControl="reason" (mouseup)="changeValidateInput('reason', formContact)">
									<option value="">¿Cómo se entero?</option>
									<option value="Redes Sociales">Redes Sociales</option>
									<option value="Medio de comunicación">Medio de comunicación</option>
									<option value="Un amigo">Un amigo</option>
									<option value="Otro">Otro</option>
								</select>
								<div style="display: none" id="status7" class="text-danger">¡Campo requerido!</div>
							</div>
						</div>
						<div class="text-center col-sm-12" style="font-weight:bold;">
							{{responseMessage}}
						</div>
						<div class="form-group">
							<div class="col-sm-12 text-right">
								<button type="button" class="btn btn-gray" style="width:187px;" (click)="showFormContact('hide')">
									Cancelar
								</button>
								<button type="button" (click)="submitEmailContacto(formContact)" class="btn btn-contact" style="width:187px;" [disabled]="loadingProcess">
									<i *ngIf="loadingProcess" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
									<span *ngIf="!loadingProcess">Aplicar ahora</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>

	<div id="container-download">
		<div class="container">
			<div class="col-sm-12 col-md-12 container-middle">
				<div class="row container-social-network col-sm-6">
					<div class="row">
						<figure id="img-download-app">
							<img src="./assets/img/DescargaApp.png" alt="descargar Aplicación">
						</figure>
					</div>
				</div>
				<div class="row content-middle-right col-sm-6">
					<div class="row">
						<div class="text-2em">No importa donde se encuentre</div>
						<br>
						<div class="text-1-25em font-gothamRnd-light font-3d3d3d">
							Beep está listo para acompañarlo en cualquier lugar. Comience a disfrutar de nuestra amplia gama de soluciones pensadas a la medida de sus necesidades.
						</div>
						<div class="container-img-download">
							<a href="https://play.google.com/store/apps/details?id=com.logisticapp.beepclient&hl=es" target="_blank">
								<figure id="downloadGooglePlay">
									<img src="./assets/img/Download_GooglePlay.png" alt="">
								</figure>
							</a>
							<a href="https://appsto.re/co/5DVAib.i" target="_blank">
								<figure id="downloadAppStore">
									<img src="./assets/img/Download_AppStore.png" alt="">
								</figure>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="modal fade" bsModal #modalNewPassword="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="modalNewPassLabel" aria-hidden="true" id="modal-login" >
	    <div class="modal-dialog modal-md">
	        <div class="modal-content">
	            <div class="modal-header">
	                <span>Nueva contraseña</span>
	            </div>
	            <div class="modal-body">
	            	<form #formNewPassword="ngForm" class="form-horizontal" >
	                    <div class="form-group">
	                        <input type="password" class="form-control col-sm-12 input-lg" id="password-new" placeholder="Nueva contraseña" name="passwordNew" required [(ngModel)]="dataNewPassword.passwordNew" ngControl="passwordNew" (keyup)="checkPassword(formNewPassword)">
	                    </div>
	                    <div class="form-group">
	                        <input type="password" class="form-control col-sm-12 input-lg" id="password-confirm" placeholder="Confirmar contraseña" name="passwordConfirm" required required [(ngModel)]="dataNewPassword.passwordConfirm" ngControl="passwordConfirm" (keyup)="checkPassword(formNewPassword)">
	                    </div>
						<p class="text-center">
	                        <span class="font-bold" *ngIf="messageErrorCheckPassword">{{messageErrorCheckPassword}}</span>
	                        <span class="font-bold text-orange" *ngIf="messageSuccessCheckPassword">{{messageSuccessCheckPassword}}</span>
	                        <span *ngIf="!messageErrorCheckPassword && !messageSuccessCheckPassword">{{messageCheckPassword}}</span>
	                    </p>
				        <div class="form-group">
				            <button type="button" class="btn btn-lg btn-orange col-sm-12" (click)="changeNewPassword(formNewPassword)" [disabled]="loadingProcessPassword">
				            	<i *ngIf="loadingProcessPassword" class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
				            	<span *ngIf="!loadingProcessPassword" class="font-bold">Guardar contraseña</span>
				            </button>
				        </div>
				    </form>
	            </div>
	        </div>
	    </div>
	</div>